<div class="b-modal">

    <div class="b-modal__body js-modal-subscribe">

        <div class="container">

            <section class="d-flex justify-content-between align-items-center b-modal__top">

                <a href="../" class="b-modal__logo">
                    <svg class="icon icon-header__logo"><use xlink:href="img/sprite.svg#icon-header__logo"></use></svg>
                </a>

                <a href="../" class="b-modal__close">
                    <svg class="icon icon-modal__close"><use xlink:href="img/sprite.svg#icon-modal__close"></use></svg>
                </a>

            </section>

            <div class="b-modal__inner">

                <h2 class="b-modal__title">
                    Персональная лента событий заработает совсем скоро
                </h2>

                <form action="#" class="b-modal__form">
                    <div class="form-group">
                        <input type="text" placeholder="Оставьте свой e-mail, чтобы узнать об этом первым!" class="form-control">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Отправить</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
