.b-filters {
    padding-top: 35px;

    @include media-breakpoint-up(lg) {
        padding-left: 30px;
    }

    h4, .h4 {
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 25px;
        font-size: 1.25rem;
    }

    &__item {

        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    .list-unstyled {
        margin-bottom: 25px;
    }

    &__link {

        display: inline-block;
        position: relative;
        padding-left: 25px;
        color: $body-color;

        .icon {
            fill: #D8D8D8;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:hover,
        &.active {

            text-decoration: none;
            color: $primary;

            .icon {
                fill: $green;
            }

        }
    }

    &__add {
        position: relative;
        padding-bottom: 4px;
        border-bottom: 2px solid #E8E8E8;

        .field {
            border: none;
            outline: none !important;
            box-shadow: none !important;
            padding-left: 29px;
            background-color: transparent;
        }

        .go {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: transparent;
            border: none;
            outline: none !important;
            box-shadow: none !important;
            padding: 0;
            line-height: 1;
        }

    }

    .dd-list {
        position: absolute;
        top: 100%;
        margin-top: 1px;
        left: 0;
        width: 100%;
        @extend .list-unstyled;
        display: none;

        li {
            line-height: 1;
        }

        a {
            display: block;
            line-height: 1;
            padding: 12px 30px;
            color: $body-color;
            background-color: #ffffff;

            &:hover {
                color: $body-color;
                background-color: $body-bg;
            }

        }

    }

}
