<template>
  <div class="b-interesting">
    <div class="container">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  import tag from './Tag'
  export default {
    components: {tag}
  }
</script>
