<template>
  <a :href="absolute_url" class="b-interesting__tag">{{name}}</a>
</template>
<script>
  export default {
    props: ['id', 'name', 'slug', 'type'],
    computed: {
      absolute_url: function () {
        return `/${this.type}/${this.id}-${this.slug}/`
      }
    }
  }
</script>
