.icon-arrow {
  width: 5px;
  height: 7px;
  fill: initial;
}
.icon-crumbs__city {
  width: 14px;
  height: 20px;
  fill: initial;
}
.icon-crumbs__fb {
  width: 8px;
  height: 17px;
  fill: initial;
}
.icon-crumbs__map {
  width: 18px;
  height: 18px;
  fill: initial;
}
.icon-crumbs__tw {
  width: 14px;
  height: 12px;
  fill: initial;
}
.icon-crumbs__vk {
  width: 16px;
  height: 9px;
  fill: initial;
}
.icon-filter__clear {
  width: 14px;
  height: 14px;
  fill: initial;
}
.icon-filter__search {
  width: 18px;
  height: 18px;
  fill: initial;
}
.icon-footer__android {
  width: 20px;
  height: 24px;
  fill: initial;
}
.icon-header__logo {
  width: 50px;
  height: 24px;
  fill: #127DBF;
}
.icon-like {
  width: 20px;
  height: 19px;
  fill: #FFF;
}
.icon-like__active {
  width: 20px;
  height: 19px;
  fill: #FFF;
}
.icon-modal__close {
  width: 23px;
  height: 23px;
  fill: initial;
}
.icon-rate {
  width: 14px;
  height: 13px;
  fill: #FFF;
}
.icon-req__check {
  width: 18px;
  height: 14px;
  fill: initial;
}
.icon-search__ico {
  width: 18px;
  height: 18px;
  fill: initial;
}
