.b-interesting {
    padding: 80px 0;

    h4 {
        font-weight: normal;
        column-span: all;
    }

    &__text {
        margin-bottom: 40px;
        column-count: 2;
        column-gap: 20px;
        @include media-breakpoint-down(sm) {
            column-count: 1;
        }
    }

    .btn {
        padding-left: 40px;
        padding-right: 40px;

        @include media-breakpoint-down(sm) {
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            width: 100%;
        }

    }

    &__tag {

        height: 40px;
        line-height: 38px;
        border: 1px solid theme-color("primary");
        border-radius: 100px;
        padding: 0 15px;
        margin-right: 8px;
        margin-bottom: 8px;
        max-width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s ease;

        &:hover {
            background-color: theme-color("primary");
            color: #ffffff;
            text-decoration: none;
        }

    }

    &__article {
        margin-bottom: 40px;
    }
}
