@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/bootstrap";

.large-text {
    font-size: 1.125rem;
    line-height: 1.333;
}

.h2, h2 {
    margin-bottom: 2rem;
}

h4, .h4 {
    margin-bottom: 1rem;
}

.extra-large-text {
    font-size: 1.25rem;
    line-height: 1.2;
}

.btn {
    cursor: pointer;
}

.m-l-auto {
    margin-left: auto;
}

html {
    font-size: 16px;

    @include media-breakpoint-down(md) {
        font-size: 15px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 16px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-secondary {
    color: $white;
    box-shadow: none !important;
    &:hover {
        color: $white;
    }
}

.btn-xs {
    padding: 4px 8px;
    border-radius: 2px;
}

input:focus::placeholder {
    color: $input-color;
}

.form-control {
    border: 1px solid $white;
    box-shadow: none !important;
    outline: none !important;
    &:focus::placeholder {
        color: $input-color;
    }
}

.container, .container-fluid {

    @include media-breakpoint-down(md) {
        padding-left: 42px;
        padding-right: 42px;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container, .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

}

.row {

    @include media-breakpoint-down(md) {
        margin-left: -42px;
        margin-right: -42px;
    }

    @include media-breakpoint-down(sm) {
        margin-left: -10px;
        margin-right: -10px;
    }

}

.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

    @include media-breakpoint-down(md) {
        padding-left: 42px;
        padding-right: 42px;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 10px;
        padding-right: 10px;
    }

}

.modal-header {
    text-align: center;
    border-bottom: none;
    justify-content: center;
}

.vdp-datepicker__calendar {
    color: $body-color;
}

.vdp-datepicker__calendar .cell.highlighted {
    background-color: transparent;
}

body.fixed {
    overflow: hidden;
}

.btn-outline-white {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    color: #ffffff;

    &:hover {
        background-color: #ffffff;
        color: $body-color;
    }

}

.h1, h1 {
    @include media-breakpoint-down(md) {
        font-size: 30px;
        line-height: 44px;
    }
}

.b-site {
    @include media-breakpoint-down(md) {
        padding-top: 70px;
    }
}