.b-tabs {
    padding: 30px 0 0;

    h1, .h1 {
        margin-bottom: 0;
        font-size: 2.5rem;
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }
    }

    .container, .inner {
        padding-bottom: 15px;
        border-bottom: 2px solid #E8E8E8;
        position: relative;
    }

    .btn {
        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 5px;
            right: 20px;
        }
    }

    &__togglers {
        margin-left: 35px;
        line-height: 1.2;
        font-weight: 500;
        font-size: 0;

        @include media-breakpoint-down(sm) {
            margin-left: 0;
            padding-top: 15px;
        }

        &:first-child {
            margin-left: 0;
        }

        .item {

            margin-right: 30px;
            color: #8e8e93;
            font-size: 1.25rem;
            position: relative;
            display: inline-block;
            text-decoration: none;

            &:hover {
                color: $body-color;
            }

            &.active {

                color: $body-color;

                &:before {
                    position: absolute;
                    bottom: -23px;
                    left: 0;
                    right: 0;
                    content: '';
                    height: 2px;
                    background-color: #127dbf;
                    @include media-breakpoint-down(sm) {
                        bottom: -17px;
                    }
                }

            }

        }

    }

}
