.b-about-city {

    padding: 10px 0 35px;
    border-bottom: 1px solid #E8E8E8;

    .list-unstyled {
        li {
            margin-bottom: 8px;
            @extend .large-text;
        }
    }

}
