.b-modal {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    //opacity: 0;
    transition: opacity .45s ease-in;
    overflow: scroll;
    display: none;

    &.active {
        opacity: 1;
        display: block;
    }

    &__body {

        display: none;

        &.active {
            display: block;
        }

    }

    &__top {
        padding: 40px 0;

        @include media-breakpoint-down(md) {
            padding: 20px 0;
        }

    }

    &__close {

        &_pseudo {
            position: fixed;
            top: 40px;
            right: 45px;
        }

        .icon {
            fill: #d8d8d8;
        }

        &:hover {

            .icon {
                fill: $primary;
            }

        }

    }

    &__inner {
        display: block;
        width: 620px;
        margin: 0 auto;

        &_feed {
            display: none;
            &.active {
                display: block;
                padding-bottom: 40px;
            }
        }

        @include media-breakpoint-down(md) {
            width: 80%;
            min-width: 300px;
        }

    }

    &__title {
        @extend .h1;
        font-weight: 300;
        margin-bottom: 35px;

        strong {
            font-weight: 700;
        }

    }

    &__form {

        max-width: 405px;

        .form-control {
            border-color: transparent;
            border-bottom: 1px solid #E8E8E8;
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
        }

        .go {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: transparent;
            border: none;
            outline: none !important;
            box-shadow: none !important;
            padding: 0;
            line-height: 1;
        }

    }

    .styled-checkbox {
        display: none;

        & + label {

            display: inline-block;
            vertical-align: middle;
            margin-bottom: 15px;
            margin-right: 14px;
            border: 1px solid #E8E8E8;
            border-radius: 100px;
            padding: 6px 24px 6px 44px;
            position: relative;
            font-size: 18px;
            line-height: 24px;
            transition: all .2s ease;
            color: $body-color;
            cursor: pointer;

            .icon {
                fill: #D8D8D8;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                transition: all .2s ease;
            }

            &:hover {
                border-color: $secondary;
            }

        }

        &_inline + label {
            display: block;
            margin-bottom: 18px;
            margin-right: 0;
            border: none;
            padding: 0 44px;
        }
        &_inline:checked + label {
            color: $secondary;
        }

        &:checked + label {

            border-color: $secondary;

            .icon {
                fill: $secondary;
            }

        }

    }

    .text {
        color: #8e8e93;
        font-size: 16px;
    }

    .d-block {
        padding: 15px 0;
        width: calc(100% + 20px);
    }

    .form-group {
        margin-bottom: 40px;
        position: relative;

        &_btn-cont {
            padding-top: 60px;
        }

        &_search {
            .form-control {
                padding-left: 29px;
            }
        }

        &:last-child {
            margin-bottom: 0;
            //padding-bottom: 40px;
        }

    }

    .btn {
        padding-left: 24px;
        padding-right: 24px;
    }

    .person-check {
        display: none;
        & + label {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 40px;
            width: 140px;
            margin-right: 17px;
            cursor: pointer;

            &:hover {

                .person-check__img {
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        border: 2px solid $secondary;
                        content: '';
                        border-radius: 50%;
                    }
                }

            }

        }

        &:checked + label {
            position: relative;
            .person-check__img:after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 18px;
                height: 14px;
                content: '';
                background-position: 50% 50%;
                background-repeat: no-repeat;
                z-index: 9;
                //background-image: url(../../../images/req__check.svg);
            }
        }

        &__img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            margin-bottom: 12px;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &__name {
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            display: block;
            color: #1E2A35;
        }

    }

    .b-events__img {
        width: 100%;
        height: 220px;
    }

    .b-events__item {
        position: relative;
    }

    .like {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 9;
        border: 1px solid rgba(255, 255, 255, 0.3);
        //background-image: url(../../../images/like.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        width: 64px;
        height: 64px;
        transition: all .2s ease;

        &:hover {
            border-color: #ffffff;
        }

        &.active {
            //background-image: url(../../../images/like__active.svg);
        }

    }

    .rate {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;

        .icon {
            fill: #fff;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -2px;
        }

    }

    &__city-list {

        padding-top: 40px;

        h4, .h4 {
            font-weight: 400;
        }

        .section {

            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

        }

        a {
            font-size: 18px;
            line-height: 24px;
            &.big {
                font-size: 18px;
                line-height: 32px;
            }
        }

        ul {

            @extend .list-unstyled;
            column-count: 4;
            margin-bottom: 15px;

            @include media-breakpoint-down(md) {
                column-count: 2;
            }

            @include media-breakpoint-down(xs) {
                column-count: 1;
            }

            li {

                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

    }

}
