.b-req {
    padding: 20px 0;

    &__title {
        line-height: 2rem;
        a {
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    h4, .h4 {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 500;

        a, a:not([href]):not([tabindex]) {
            color: #8e8e93;
        }
    }

    &__item {

        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    .list-unstyled {
        margin-bottom: 25px;
    }

    &__link {

        display: inline-block;
        position: relative;
        padding-left: 25px;
        color: $body-color;

        .icon {
            fill: #D8D8D8;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:hover {

            text-decoration: none;
            color: $primary;

            .icon {
                fill: #FD9727;
            }

        }
    }
}
