<template>
    <div v-if="opened" class="b-modal b-modal_pseudo" :class="{'active': opened}">

        <div class="b-modal__body js-all-cities" :class="{'active' : opened}">

            <div class="container">

                <section class="d-flex justify-content-between align-items-center b-modal__top">

                    <a href="/" class="b-modal__logo">
                        <svg class="icon icon-header__logo">
                            <use xlink:href="/static/images/sprite.svg#icon-header__logo"></use>
                        </svg>
                    </a>

                    <a class="b-modal__close js-modal-close" @click="closeModal">
                        <svg class="icon icon-modal__close">
                            <use xlink:href="/static/images/sprite.svg#icon-modal__close"></use>
                        </svg>
                    </a>

                </section>

                <div class="container js-all-city">

                    <!--<form action="#" class="b-filters__add b-filters__add_modal">-->

                        <!--<button class="go">-->

                            <!--<svg class="icon icon-filter__search">-->
                                <!--<use xlink:href="/static/images/sprite.svg#icon-filter__search"></use>-->
                            <!--</svg>-->

                        <!--</button>-->

                        <!--<input type="text" class="field js-all-city__input" placeholder="Введите свой город">-->

                        <!--<a href="#" class="all-link js-all-link">Показать события в городе «<span class="js-value">во</span>»</a>-->

                    <!--</form>-->

                    <div class="b-modal__city-list">

                        <section class="section">

                            <h4>Россия</h4>

                            <ul>
                                <li v-for="city in top_cities"><a :href="city_url(city.name_original)" class="big">{{ city.name }}</a></li>
                            </ul>

                            <ul>
                                <li v-for="city in cities"><a :href="city_url(city.name_original)">{{ city.name }}</a></li>
                            </ul>

                        </section>

                        <!--<section class="section">-->

                            <!--<h4>Европа</h4>-->

                            <!--<ul>-->

                                <!--<li><a href="">Берлин</a></li>-->
                                <!--<li><a href="">Варшава</a></li>-->

                            <!--</ul>-->

                        <!--</section>-->

                    </div>

                </div>

            </div>

        </div>

    </div>
</template>

<script>
export default {
  created() {
        this.$root.$on('allCities:modal:show', () => {
            this.openModal();
            $(document.body).addClass('fixed');

            setTimeout(()=>{

                jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function (arg) {
                    return function (elem) {
                        return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                    };
                });

                let city_list = $('.js-all-cities');

                console.log(city_list);


                $('.js-all-city__input', city_list).on('input', function () {
                    let val = $(this).val();
                    $('.js-all-link', city_list).find('.js-value').text(val);
                    if (!val) {
                        $('li', city_list).show();
                        $('.js-all-link', city_list).fadeOut(100);
                    } else {
                        $('li', city_list).hide();
                        $('.js-all-link', city_list).fadeIn(100);
                    }
                    $('li:Contains(' + val + ')', city_list).show();
                });


            }, 500);


        });

        this.$root.$on('allCities:modal:close', () => {
            $(document.body).removeClass('fixed');
        });
    },
  data() {
    return {
      opened: false
    }
  },
  computed: {
    cities: function () {
      let filtered = []
      for (let city in this.$store.state.feed.cities) {
        if (!this.$store.state.feed.cities[city].top_city) {
          filtered.push(this.$store.state.feed.cities[city])
        }
      }
      return filtered
    },
    top_cities: function () {
      let filtered = []
      for (let city in this.$store.state.feed.cities) {
        if (this.$store.state.feed.cities[city].top_city) {
          filtered.push(this.$store.state.feed.cities[city])
        }
      }
      return filtered
    }
  },
  methods: {
    city_url: function (name) {
      return '/' + name.toLowerCase().replace(' ', '-') + '/'
    },
    openModal: function () {
      this.opened = true
    },
    closeModal: function () {
      this.opened = false
      this.$root.$emit('allCities:modal:close')
    }
  }
}
</script>
<style>
    .b-modal__close {
        cursor: pointer;
    }
    .b-modal_cities {
        background-color:rgba(0, 0, 0, .5);
        padding-top: 40px;
        padding-bottom: 40px;

    }
    .b-modal_cities .container {
        position: relative;
    }
    .b-modal_cities .b-modal__body {
        background-color: #ffffff;
        padding: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        width: 100%;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

    }
    .b-modal__close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .b-modal__city-list {
        padding-top: 0;
    }
</style>
