<template>
  <div class="modal-mask" :style="style.login_modal">
    <div class="modal-wrapper">
      <!--login-->
      <div class="modal-container login-modal">
        <a class="modal-close spritesheet sprite-ico-grey-close" href="#" @click="loginModalClose"></a>

        <div v-if="!loginModal.restore">
          <div class="modal-header styled-row" style="width: 100%; height: 50px">
            <h3 v-if="loginModal.login" v-on:click="loginModalOpen">Вход</h3>
            <h3 v-else>Регистрация</h3>
          </div>

          <div class="modal-body" v-if="!loginModal.restore">

            <div class="styled-row signup-as">
              <a v-if="loginModal.business && !loginModal.login" class="body-link signup-type-link" href="#" @click="loginModalOpen(false, false, false)">Как частное лицо</a>
              <a v-if="!loginModal.business && !loginModal.login" class="body-link signup-type-link" href="#" @click="loginModalOpen(false, true, false)">Как организатор событий</a>
            </div>

            <div class="styled-row styled-row_pre">
              <p v-if="!loginModal.business && !loginModal.login" class="body">Как частное лицо через:</p>
            </div>

            <div v-if="!loginModal.business" class="styled-row social-buttons">
              <div class="fb-button u-pull-left" @click="facebookAuth">
                <a class="button u-full-width" href="#">
                  <i class="spritesheet sprite-ico-white-facebook"></i>
                </a>
              </div>
              <div class="vk-button u-pull-right" @click="vkontakteAuth">
                <a class="button u-full-width" href="#">
                  <i class="spritesheet sprite-ico-white-vkontakte"></i>
                </a>
              </div>
            </div>

            <div class="styled-row">
              <p v-if="!loginModal.business" class="body">или по электронной почте</p>
            </div>

            <form class="login-form" action="" method="POST">

              <div class="styled-row" v-show="user.errors.non_field_errors" >
                <span v-for="error in user.errors.non_field_errors" class="error-text">
                  {{ error }}
                </span>
              </div>
              <div class="styled-row" v-if="loginModal.business">
                <div>
                  <input type="text" class="u-full-width" name="organisation" placeholder="Название организации" required v-model="organisation_name">
                  <span v-show="user.errors.first_name" v-for="error in user.errors.first_name" class="error-text">
                    {{ error }}
                  </span>
                </div>
              </div>
              <div class="styled-row" v-if="!loginModal.login && !loginModal.business">
                <div>
                  <input type="text" class="u-full-width" name="username" placeholder="Ваше имя" v-model="first_name" required>
                  <span v-show="user.errors.first_name" v-for="error in user.errors.first_name" class="error-text">
                    {{ error }}
                  </span>
                </div>
              </div>

              <div class="styled-row">
                <div>
                  <input type="email" class="u-full-width" name="email" placeholder="Email" v-model="email" required>
                  <span v-show="user.errors.username" v-for="error in user.errors.username" class="error-text">
                    {{ error }}
                  </span>
                  <span v-show="user.errors.email" v-for="error in user.errors.email" class="error-text">
                    {{ error }}
                  </span>
                </div>
              </div>

              <div class="styled-row">
                <div class="password-input-holder">
                  <input type="password" class="u-full-width signin" name="password" placeholder="Пароль" v-model="password" required>
                  <a class="caption-link remember-password js-restore-password" href="#" @click="loginModalOpen(false, true, true)">Напомнить</a></div>
                  <span v-show="user.errors.password" v-for="error in user.errors.password" class="error-text">
                    {{ error }}
                  </span>
              </div>

              <div class="styled-row">
                <div>
                  <div v-if="loginModal.login" class="button u-full-width submit-signin" @click="login_with_email">Войти</div>
                  <div v-else class="button u-full-width submit-signin" @click="register_with_email">Зарегистрироватся</div>
                </div>
              </div>

              <div v-if="loginModal.login" class="styled-row" >
                <div><a class="caption-link" href="#" @click="loginModalOpen(false, true, false)">Зарегистрироваться</a></div>
              </div>
              <div v-else class="styled-row" @click="loginModalOpen(true, false, false)">
                <div><a class="caption-link" href="#">Я уже зарегистрирован</a></div>
              </div>

            </form>
          </div>
        </div>
        <div v-else>
          <div v-if="!loginModal.emailSended">
            <a class="modal-close spritesheet sprite-ico-grey-close" href="#" @click="loginModalClose"></a>
              <h3>Восстановить</h3>
            <div class="body message">Мы отправим Вам инструкцию по восстановлению пароля на почту</div>
            <form class="restore-password-form" action="" method="POST">
              <input type="email" class="u-full-width" id="restore-email" name="email" placeholder="Электронная почта" v-model="userRestoreEmail">
              <div class="button u-full-width remind-button" @click="restorePassword">Напомнить</div>
            </form>
            <a class="caption-link remembered-button" href="#" @click="loginModalOpen(true, true, false)">Я вспомнил пароль</a>
          </div>
          <div v-else>
            <div class="body message">Инструкция отправлена Вам на электронную почту</div>
          </div>
        </div>
    </div>
  </div>
  </div>
</template>
<script>
  import DropdownDivider from "bootstrap-vue/es/components/dropdown/dropdown-divider"

  export default {
    components: { DropdownDivider },
    mounted () {
      this.$root.$on('auth:modal:show', (login, business) => {
        this.loginModalOpen(login, business)
      })
      this.$root.$on('auth:modal:close', () => {
        this.loginModalClose()
      })
    },
    data () {
      return {
        style: {
          login_modal: {
            display: 'none'
          }
        },

        loginModal: {
          login: true,
          restore: false,
          business: false,
          emailSended: false
        },

        first_name: '',
        organisation_name: '',
        email: '',
        password: '',
        userRestoreEmail: '',
        isSignupModal: false,
        isOrganizerSignupModal: false,
        lang: {
          signup_as_private_person: 'Private person',
          signup_as_organizer: 'Organization',
          signup_as_private_person_through: 'Private through',
          company_name: 'Company name',
          your_name: 'Your name',
          remind: 'Remind'
        }
      }
    },
    computed: {
      user: function () { return this.$store.state.user }
    },
    methods: {
      loginModalClose: function () {
        this.style.login_modal.display = 'none'
        this.loginModal.emailSended = false
        this.loginModal.restore = false
      },
      loginModalOpen: function (login, business, restore) {
        this.style.login_modal.display = 'block'
        this.loginModal.login = login
        this.loginModal.restore = restore
        this.loginModal.business = business
      },

      facebookAuth: function () {
        this.$store.getters.facebook.login().then(
          (response) => {
            if ((response.status === 'OK') || (response.status === 'connected')) {
              let payload = {
                provider: 'facebook',
                access_token: response.access_token || response.authResponse.accessToken
              }
              this.$store.dispatch('AUTH', payload).then(() => {
                if (this.$store.state.user.authenticated) {
                  this.loginModalClose()
                  if (!this.loginModal.login) {
                    this.$router.push('/feed')
                  }
                }
              })
            }
          },
          (error) => {
            console.log('error: ', error)
          }
        )
      },
      vkontakteAuth: function () {
        this.$store.getters.vk.Auth.login((response) => {
          if (response.status === 'connected') {
            let payload = {
              provider: 'vk-oauth2',
              access_token: response
            }
            this.$store.dispatch('AUTH', payload).then(() => {
              if (this.$store.state.user.authenticated) {
                this.loginModalClose()
                if (!this.loginModal.login) {
                  this.$router.push('/feed')
                }
              }
            })
          }
        })
      },
      login_with_email: function () {
        let payload = {
          email: this.email,
          username: this.email,
          password: this.password
        }
        this.$store.dispatch('LOGIN', payload).then(() => {
          if (this.$store.state.user.authenticated) {
            this.loginModalClose()
          }
        })
      },

      register_with_email: function () {
        let payload = {
          email: this.email,
          password: this.password,
          business_account: this.loginModal.business,
          first_name: this.loginModal.business ? this.organisation_name : this.first_name
        }
        this.$store.dispatch('SIGNUP', payload).then(() => {
          if (this.$store.state.user.authenticated) {
            this.loginModalClose()
          }
        })
      },
      restorePassword: function () {
        let self = this
        this.$store.dispatch('RESET_PASSWORD', {email: this.userRestoreEmail}).then(
          function () {
            self.loginModal.emailSended = true
          }
        )
      }
    }
  }
</script>
<style scoped lang="scss">
  .spritesheet {
    background-image: url(/static/images/spritesheet.png);
    display: inline-block;
    vertical-align: middle;
  }

  @media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .spritesheet {
      background-image: url(/static/images/spritesheet@2x.png);
      background-size: 792px 40px;
      display: inline-block;
    }
  }

  .sprite-ico-white-vkontakte {
    width: 21px;
    height: 12px;
    background-position: -198px 0;
  }

  .sprite-ico-white-facebook {
    width: 11px;
    height: 23px;
    background-position: -219px 0;
  }

  .sprite-ico-grey-close {
    width: 14px;
    height: 14px;
    background-position: -342px 0;
  }

  input[type="email"], input[type="password"], input[type="text"] {
    height: 48px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
  }

  input[type="email"], input[type="password"], input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: UbuntuLight, sans-serif;
    font-size: 18px;
  }

  input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="text"]::placeholder {
    color: black;
    opacity: .4;
  }

  input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="text"]:-moz-placeholder {
    color: black;
    opacity: .4;
  }

  input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="text"]::-moz-placeholder {
    color: black;
    opacity: .4;
  }

  input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder {
    color: black;
    opacity: .4;
  }

  input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder {
    color: black;
    opacity: .4;
  }

  input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    border: 1px solid #334659;
    outline: 0;
  }

  .button, input[type="submit"] {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 46px;
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background: #0691CB;
  }

  .button:hover, input[type="submit"]:hover {
    color: #FAFAFA;
    background: #5AC8FA;
    outline: 0;
  }

  .social-buttons .fb-button {
    width: calc(50% - 10px);
    max-width: 144px;
  }

  .social-buttons .fb-button a {
    background: #3B5998;
  }

  .social-buttons .fb-button a:hover {
    background: #718dc8;
  }

  .social-buttons .vk-button {
    width: calc(50% - 10px);
    max-width: 144px;
  }

  .social-buttons .vk-button a {
    background: #45668E;
  }

  .social-buttons .vk-button a:hover {
    background: #7a99bf;
  }

  a {
    background-color: transparent;
  }

  a:active, a:hover {
    outline: 0;
  }

  input {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  input {
    line-height: normal;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-mask .styled-row {
    padding: 0;
  }

  .modal-mask .modal-wrapper {
    display: block;
    vertical-align: middle;
    overflow: auto;
    height: 100%;
  }

  .modal-mask .modal-container {
    margin: 0 auto;
    padding: 40px 32px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
  }

  .modal-mask .modal-container.login-modal {
    margin-top: 50px;
    text-align: center;
    position: relative;
    max-width: 368px;
    min-width: 0;
  }

  .modal-mask .modal-container.login-modal a.modal-close {
    position: absolute;
    right: 21px;
    top: 21px;
  }

  .modal-mask .modal-container.login-modal form {
    margin: 16px 0 0 0;
  }

  .modal-mask .modal-container.login-modal form input {
    margin-bottom: 16px;
  }

  .modal-mask .modal-container.login-modal form .password-input-holder {
    position: relative;
  }

  .modal-mask .modal-container.login-modal form .password-input-holder input.signin {
    padding-right: 92px;
  }

  .modal-mask .modal-container.login-modal form .password-input-holder .remember-password {
    position: absolute;
    right: 12px;
    top: 15px;
  }

  .modal-mask .modal-container .modal-body {
    margin: 40px 0 0 0;
  }

  .modal-mask .modal-container .modal-body .social-buttons {
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .modal-mask .modal-container.login-modal .modal-body {
      margin-top: 0;
      margin-left: -10px;
      margin-right: -10px;
  }

  * {
    box-sizing: border-box;
  }

  h3 {
    font-family: UbuntuLight, sans-serif;
    font-weight: 300;
    color: #2D3E4F;
    font-size: 36px;
    margin: 0;
    line-height: 48px;
  }

  .body {
    font-family: UbuntuLight, sans-serif;
    font-weight: 300;
    color: #576572;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    text-decoration: none;
  }

  .caption-link {
    font-family: UbuntuLight, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #6C7783;
    margin: 0;
    text-decoration: none;
    line-height: 20px;
  }

  .caption-link {
    color: #0691CB;
  }

  .caption-link:hover {
    text-decoration: underline;
  }

  p {
    margin-top: 0;
  }

  .u-full-width {
    width: 100%;
    box-sizing: border-box;
  }

  .styled-row {
    padding: 0 16px;
    position: relative;
  }

  .u-pull-right {
    float: right;
  }

  .u-pull-left {
    float: left;
  }

  form {
    margin-bottom: 2.5rem;
  }

  .styled-row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*! CSS Used fontfaces */
  @font-face {
    font-family: "UbuntuLight";
    src: url(/static/fonts/UbuntuLight/UbuntuLight.eot);
    src: url(/static/fonts/UbuntuLight/UbuntuLight.eot#iefix) format("embedded-opentype"), url(/static/fonts/UbuntuLight/UbuntuLight.woff) format("woff"), url(/static/fonts/UbuntuLight/UbuntuLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  .error-text {
    display: block;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 5px;
    color: #c00;
    font-size: 11px;
  }
</style>
