<template>

  <div v-if="opened" class="b-modal b-modal_pseudo" :class="{'active': opened}">

    <div class="b-modal__body js-modal-step-1" :class="{'active' : opened}">

      <div class="container">

        <section class="d-flex justify-content-between align-items-center b-modal__top">

          <a href="/" class="b-modal__logo">
            <svg class="icon icon-header__logo">
              <use xlink:href="/static/images/sprite.svg#icon-header__logo"></use>
            </svg>
          </a>

          <a class="b-modal__close js-modal-close" @click="closeModal">
            <svg class="icon icon-modal__close">
              <use xlink:href="/static/images/sprite.svg#icon-modal__close"></use>
            </svg>
          </a>

        </section>

        <div class="b-modal__inner b-modal__inner_feed" :class="{'active' : currentStep.city}">

          <h2 class="b-modal__title" v-html="lang.title.city"></h2>

          <div class="text">

            {{lang.action.city}}

            <form class="d-block">
              <template v-for="city in cities">
                <input type="checkbox" :name="city.id" :id="city.id" class="styled-checkbox styled-checkbox_inline" v-if="active_item(filters.cities, city)" checked>
                <input type="checkbox" :name="city.id" :id="city.id" class="styled-checkbox styled-checkbox_inline" v-else>
                <label :for="city.id" @click="selected_item(feed.cities, city)">
                  <svg class="icon icon-req__check">
                    <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
                  </svg>
                  <span>{{ city.name }}</span>
                </label>
              </template>
            </form>

          </div>

                    <div class="form-group form-group_btn-cont text-right">
                        <button class="btn btn-primary" @click="showAnotherStep('category')">{{lang.nextStep}}</button>
                    </div>

        </div>

        <div class="b-modal__inner b-modal__inner_feed" :class="{'active' : currentStep.person}">

          <h2 class="b-modal__title" v-html="lang.title.person"></h2>

          <div class="text">

            {{lang.action.person}}

            <form class="d-block">

              <input type="checkbox" name="person" id="person0" class="person-check">

              <label for="person0">
                            <span class="person-check__img">
                                <img src="" alt="">
                            </span>

                <span class="person-check__name">Стас Михайлов</span>
              </label>

              <input type="checkbox" name="person" id="person1" class="person-check">

              <label for="person1">
                            <span class="person-check__img">
                                <img src="" alt="">
                            </span>

                <span class="person-check__name">Стас Михайлов</span>
              </label>

              <input type="checkbox" name="person" id="person2" class="person-check">

              <label for="person2">
                            <span class="person-check__img">
                                <img src="" alt="">
                            </span>

                <span class="person-check__name">Стас Михайлов</span>
              </label>

              <input type="checkbox" name="person" id="person3" class="person-check">

              <label for="person3">
                            <span class="person-check__img">
                                <img src="" alt="">
                            </span>

                <span class="person-check__name">Стас Михайлов</span>
              </label>

            </form>

          </div>

          <a href="#">Показать ещё 8 персон</a>

          <div class="form-group form-group_btn-cont d-flex justify-content-between">
            <button class="btn btn-light" @click="showAnotherStep('city')">{{lang.prevStep}}</button>
            <button class="btn btn-primary" @click="showAnotherStep('category')">{{lang.nextStep}}</button>
          </div>

        </div>

        <div class="b-modal__inner b-modal__inner_feed" :class="{'active' : currentStep.category}">

          <h2 class="b-modal__title" v-html="lang.title.category"></h2>

          <div class="text">

            {{lang.action.category}}

            <form class="d-block">
              <template v-for="category in categories">

                <input type="checkbox" :name="category.id" :id="category.id" class="styled-checkbox" v-if="active_item(filters.categories, category)" checked>
                <input type="checkbox" :name="category.id" :id="category.id" class="styled-checkbox" v-else>
                <label :for="category.id" @click="selected_item(feed.categories, category)">
                  <svg class="icon icon-req__check">
                    <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
                  </svg>
                  <span>{{ category.name }}</span>
                </label>
              </template>
            </form>

          </div>

          <div class="form-group form-group_btn-cont d-flex justify-content-between">
            <button class="btn btn-light" @click="showAnotherStep('city')">{{lang.prevStep}}</button>
            <button class="btn btn-primary" @click="closeModal">{{lang.done}}</button>
          </div>

        </div>

        <div class="b-modal__inner b-modal__inner_feed" :class="{'active' : currentStep.finish}">

          <h2 class="b-modal__title" v-html="lang.title.finish"></h2>

          <div class="container-fluid">
            <form class="d-block">

              <div class="row">
                <div class="col-3">
                  <div class="b-events__item">

                    <div class="like js-like"></div>

                    <div class="position-relative">
                      <img src="/static/images/event-img-2.jpg" alt="#" class="b-events__img">


                      <div class="rate">
                        5.0
                        <svg class="icon icon-rate">
                          <use xlink:href="/static/images/sprite.svg#icon-rate"></use>
                        </svg>
                      </div>
                    </div>

                    <div class="b-events__name"><a href="#">Выставка «Жизни легкое дыхание…»</a>
                    </div>

                    <p>
                      Ростовский областной музей краеведения
                    </p>

                  </div>
                </div>

                <div class="col-3">
                  <div class="b-events__item">

                    <div class="like js-like"></div>

                    <div class="position-relative">
                      <img src="/static/images/event-img-2.jpg" alt="#" class="b-events__img">


                      <div class="rate">
                        4.0
                        <svg class="icon icon-rate">
                          <use xlink:href="/static/images/sprite.svg#icon-rate"></use>
                        </svg>
                      </div>
                    </div>

                    <div class="b-events__name"><a href="#">Premijera filma "Patuljci sa naslovnih
                      strana"</a></div>

                    <p>
                      Budva · Cadmus Cineplex
                    </p>

                  </div>
                </div>

                <div class="col-3">
                  <div class="b-events__item">

                    <div class="like js-like"></div>

                    <div class="position-relative">
                      <img src="/static/images/event-img-3.jpg" alt="#" class="b-events__img">


                      <div class="rate">
                        3.0
                        <svg class="icon icon-rate">
                          <use xlink:href="/static/images/sprite.svg#icon-rate"></use>
                        </svg>
                      </div>
                    </div>

                    <div class="b-events__name"><a href="#">Показ фильма «Карьера Димы Горина»</a>
                    </div>

                    <p>
                      Ростовский областной музей краеведения
                    </p>

                  </div>
                </div>

                <div class="col-3">
                  <div class="b-events__item">

                    <div class="like js-like"></div>

                    <div class="position-relative">
                      <img src="/static/images/event-img-4.jpg" alt="#" class="b-events__img">


                      <div class="rate">
                        5.0
                        <svg class="icon icon-rate">
                          <use xlink:href="/static/images/sprite.svg#icon-rate"></use>
                        </svg>
                      </div>
                    </div>

                    <div class="b-events__name"><a href="#">Выставка «Жизни легкое дыхание…»</a>
                    </div>

                    <p>
                      Москва · Национальный институт гуманитарной и …
                    </p>

                  </div>
                </div>

              </div>

            </form>

            <div class="text-center">
              <a href="#">Показать ещё 4 события</a>
            </div>

            <div class="form-group form-group_btn-cont d-flex justify-content-center">
              <button class="btn btn-primary js-close-modal" @click="closeModal">
                {{lang.finishStep}}
              </button>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>
  import $ from 'jquery'

  export default {
    created () {
      this.$root.$on('feed:modal:show', () => {
        this.openModal()
        $(document.body).addClass('fixed')
      })

      this.$root.$on('feed:modal:close', () => {
        $(document.body).removeClass('fixed')
      })
    },
    data () {
      return {
        currentStep: {
          city: true,
          person: false,
          category: false,
          finish: false
        },
        errors: {},
        user: this.$store.state.user,
        lang: {
          title: {
            city: 'Создайте персональную ленту событий подписавшись на <strong>города</strong> и категории',
            person: 'Создайте персональную ленту событий подписавшись на города, <strong>персон</strong> и категории',
            category: 'Создайте персональную ленту событий подписавшись на города и <strong>категории</strong>',
            finish: 'Оцените несколько событий, чтобы мы подбирали похожие'
          },
          action: {
            city: 'Нажмите на город, чтобы подписаться',
            person: 'Нажмите на персону, чтобы подписаться',
            category: 'Нажмите на категорию, чтобы подписаться'
          },
          nextStep: 'Далее',
          prevStep: 'Назад',
          done: 'Готово',
          finishStep: 'Открыть мою ленту'
        }
      }
    },
    computed: {
      opened: function () { return this.$store.state.feed.openSettingsModal && this.$route.path.includes('feed') },
      feed: function () { return this.$store.state.feed.filters },
      cities: function () { return this.$store.state.feed.cities },
      categories: function () { return this.$store.state.feed.categories },
      filters: function () { return this.$store.state.feed.filters }
    },
    methods: {
      active_item: function (source, item) {
        return source.indexOf(item.id) > -1
      },
      selected_item: function (source, item) {
        if (!source) {
          source = []
        }
        let AlreadySelected = false

        for (let StoredItem in source) {
          if (item.id === source[StoredItem]) {
            AlreadySelected = true
            break
          }
        }

        if (AlreadySelected) {
          source.splice(source.indexOf(item.id), 1)
          if (!source.length) {
            $('.js-get-feed-modal').removeClass('btn-primary').addClass('btn-outline-primary').text('Настроить')
          }
        } else {
          source.push(item.id)
          $('.js-get-feed-modal').removeClass('btn-outline-primary').addClass('btn-primary').text('Изменить')
        }
      },
      openModal: function () {
        this.opened = true
        this.currentStep.city = true
      },
      closeModal: function () {
        this.opened = false
        this.$store.state.feed.openSettingsModal = false
        this.clearSteps()
        this.$root.$emit('feed:modal:close')
        this.$store.dispatch('UPDATE_FEED_FILTERS', this.feed)
      },
      clearSteps: function () {
        for (var active in this.currentStep) {
          this.currentStep[active] = false
        }
      },
      showAnotherStep: function (step) {
        this.clearSteps()
        this.currentStep[step] = true
      }
    },
    components: {}
  }
</script>
<style>
  .b-modal__close {
    cursor: pointer;
  }
</style>
