<template>
  <div v-if="opened" class="b-modal b-modal_pseudo" :class="{'active': opened}">
    <div class="b-modal__body js-modal-subscribe" :class="{'active' : opened}">
      <div class="container">
        <section class="d-flex justify-content-between align-items-center b-modal__top">
          <a href="/" class="b-modal__logo">
              <svg class="icon icon-header__logo">
                <use xlink:href="/static/images/sprite.svg#icon-header__logo"></use>
              </svg>
          </a>
          <a class="b-modal__close js-modal-close" @click="closeModal">
              <svg class="icon icon-modal__close">
                <use xlink:href="/static/images/sprite.svg#icon-modal__close"></use>
              </svg>
          </a>
        </section>

        <div class="b-modal__inner">
          <h2 class="b-modal__title">{{lang.title}}</h2>
          <form action="#" class="b-modal__form">

            <span v-show="errors.email" v-for="error in errors.email" class="error-text">
              {{ error }}
            </span>
            <div class="form-group">
              <input
                 @updated="validateEmail"
                 v-model="user.me.email"
                 type="text"
                 :placeholder="lang.placeholder"
                 class="form-control">
            </div>
            <div class="form-group">
              <div class="btn btn-primary"
                   @click="isValid">
                {{lang.action}}
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    created () {
      this.$root.$on('subscribe:modal:show', () => {
        this.openModal()
        $(document.body).addClass('fixed')
      })

      this.$root.$on('subscribe:modal:close', () => {
        $(document.body).removeClass('fixed')
      })
    },
    data () {
      return {
        opened: false,
        errors: {},
        user: this.$store.state.user,
        lang: {
          title: 'Персональная лента событий заработает совсем скоро',
          placeholder: 'Оставьте свой e-mail, чтобы узнать об этом первым!',
          action: 'Отправить'
        }
      }
    },
    methods: {
      openModal: function () {
        this.opened = true
      },
      closeModal: function () {
        // TODO dispatch subscriber email
        this.opened = false
        this.$root.$emit('subscribe:modal:close')
      },
      validateEmail: function (e) {
        console.log(e)
      },
      isValid () {
        let payload = {
          email: this.user.me.email,
          event_id: 'subscribe_modal'
        }
        this.$store.dispatch('SUBSCRIBE_USER', payload).then(
          (response) => {
            this.errors = {}
            this.closeModal()
          },
          (errors) => {
            this.errors = errors.response.data
          }
        )
      }
    }
  }
</script>
<style>
  .b-modal__close {
    cursor: pointer;
  }
</style>
