<template>
    <div :class="getClassList(size)">
      <div class="b-events__item">
        <time v-show="date" class="b-events__date">{{date}}</time>
        <a :href="href">
          <lazy-image
            :v-if="imageReady"
            :loading-image="loadingImage"
            :error-image="errorImage"
            :image-success-callback="imageLoaded"
            :image-class="imageClass"
            :image-source="img">
          </lazy-image>
        </a>
        <div class="b-events__name">
          <a :href="href" v-html="title">
          </a>
          <span
            v-if="showCity"
            v-html="placeCity"
            class="b-events__place">
          </span>
        </div>
        <p v-html="placeFeedTitle"></p>
        <p v-html="eventDate"></p>
      </div>
    </div>
</template>

<script>
  import lazyImage from '../lazyImage'
  export default {
    props: [
      'date', 'title', 'place', 'img', 'href', 'size', 'actual_schedule', 'min_price', 'max_price'
    ],
    data () {
      return {
        sizes: {
          large: 'col-6 col-sm-6 col-lg-4',
          medium: 'col-6 col-md-4 col-lg-3',
          small: 'col-6 col-md3 col-lg-2',
        },
        loadingImage: '/static/images/placeholder.png',
        errorImage: '/static/images/placeholder.png',
        imageClass: 'b-events__img',
        showCity: false,
        imageReady: false,
        monthArray: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
      }
    },
    computed: {
      placeTitle () {
        return this.place ? this.place.title : ''
      },
      placeCity () {
        return this.place && this.place.city
      },
      placeFeedTitle () {
        var eventTitle = this.place.city + ' · ' + this.place.title
        return eventTitle
      },
      eventDate () {
        let price = null
        let min_price = Number(this.min_price)
        let max_price = Number(this.max_price)

        if (!min_price || !max_price) {
          price = ''
        } else if (min_price === max_price) {
          price = ', ' + min_price + ' ₽'
        } else {
          price = ', ' + min_price + '-' + max_price + ' ₽'
        }
        return this.formatDate(this.actual_schedule[0].start_date) + price
      }
    },
    methods: {
      formatDate (date) {
        date = new Date(date)
        var dd = date.getDate()
        if (dd < 10) dd = '0' + dd
        var mm = date.getMonth()

        return dd + ' ' + this.monthArray[mm] + ', ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2)
      },
      formatPrice (price) {
        if (price) {
          // I think we need to get a currency symbol here
          return ', ' + price + ' ₽'
        }
        return ''
      },
      getClassList (size) {
        if (this.sizes.hasOwnProperty(size)) {
          return this.sizes[size]
        } else {
          return this.sizes.medium
        }
      },
      imageLoaded () {
        this.imageReady = true
        return this.imageReady
      },
    },
    components: {
      lazyImage
    }
  }
</script>
