<template>
  <div class="b-events">
    <div class="container">
      <h2 v-if="title" class="h2 b-events__title">
        {{title}}
        <a v-if="action" href="/" class="float-lg-right d-md-inline d-block b-events__more">
          <svg class="icon icon-crumbs__city">
              <use xlink:href="/static/images/sprite.svg#icon-crumbs__city"></use>
          </svg>
          {{action}}
        </a>
      </h2>
      <slot></slot>
    </div>

    <div v-if="actionTitle" class="b-events__overlay d-flex align-items-end">
      <div class="container">
        <h3 class="b-events__text" v-html="slogan"></h3>
          <div @click="redirectToFeed()" class="btn btn-secondary">{{actionTitle}}</div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['title', 'action', 'slogan', 'actionTitle'],
    data: function () {
      return {
        redirect: false
      }
    },
    computed: {
      authenticated: function () {
        return this.$store.state.user.authenticated
      }
    },
    watch: {
      authenticated: function () {
        if (this.redirect) {
          this.redirect = false
          this.$router.push('/feed')
        }
      }
    },
    methods: {
      redirectToFeed: function () {
        if (!this.authenticated) {
          this.redirect = true
          this.$root.$emit('auth:modal:show', true, false)
        } else {
          this.$router.push('/feed')
        }
      }
    }
  }
</script>
<style></style>
