<template>
  <div class="row">

    <div class="col-12 col-lg-9">
      <div class="b-events b-events_inner">
        <div class="container">
          <month-container
            v-for="(events, index) in sections"
            :key="index"
            :events="[events, index]">
          </month-container>
        </div>
      </div>
    </div>

  <div class="col-12 col-lg-3 d-none d-lg-block">
    <filter-list @updated="update_cities" :title="lang.city" :list="cities" :selected="selected_cities"></filter-list>
    <filter-list @updated="update_categories" :title="lang.category" :list="categories" :selected="selected_categories"></filter-list>
  </div>

  </div>
</template>

<script>
  import MonthContainer from './MonthContainer'
  import FilterList from '../filters/List'

  export default {
    data () {
      return {
        feed: this.$store.state.feed,
        buckets: this.$store.state.buckets,
        lang: {
          city: 'Города',
          category: 'Категории'
        }
      }
    },
    computed: {
      sections () {
        let filtered = {}
        for (let event in this.feed.events) {
          if (this.feed.events[event].actual_schedule !== undefined) {
            let date = new Date(this.feed.events[event].actual_schedule.start_date)
            let month = this.feed.month[date.getMonth()]
            if (filtered[month] === undefined) {
              filtered[month] = []
            }
            filtered[month].push(this.feed.events[event])
          }
        }
        console.log('filtered: ', filtered)
        return filtered
      },
      categories () { return this.feed.categories },
      cities () { return this.feed.cities },
      selected_categories () { return this.feed.filters.categories },
      selected_cities () { return this.feed.filters.cities }
    },
    methods: {
      update_cities (cities) {
        this.$emit('update-filters', {
          cities: cities,
          categories: this.selected_categories
        })
      },
      update_categories (categories) {
        this.$emit('update-filters', {
          cities: this.selected_cities,
          categories: categories
        })
      }
    },
    components: {
      FilterList, MonthContainer
    }
  }
</script>
