<template>
  <section >
    <h3 class="h4 js-scroll-title">
      {{ monthTitle }}
    </h3>
    <transition name="fade">
      <div class="row" v-show="showed">
        <card
          v-for="event in comp_events"
          :key="event.id"
          :title="event.title"
          :place="event.place"
          :actual_schedule="comp_actual_schedule(event)"
          :img="event.image"
          :size="'large'"
          :min_price="event.min_price"
          :max_price="event.max_price"
          :href="absolute_url(event)">
        </card>
      </div>
    </transition>
  </section>
</template>

<script>
  import Card from './Card'

  export default {
    props: {
      events: { type: Array, default: [], required: true }
    },
    data () {
      return {
        lang: {},
        showed: true
      }
    },
    computed: {
      monthTitle () {
        return this.events[1]
      },
      comp_events () {
        return this.events[0]
      }
    },
    methods: {
      absolute_url: function (event) { return '/events/' + event.provider_id + '-' + event.slug + '/' },
      comp_actual_schedule: function (event) { return [event.actual_schedule] }
    },
    components: {
      Card
    }
  }
</script>
<style></style>
