<template>
  <div class="b-persons">
  <div class="container">
    <h2 class="b-persons__title"> {{ title }} <a href="#" class="float-none float-md-right">Увидеть всех</a> </h2>
    <div class="row">
      <slot></slot>
    </div>
  </div>
</div>
</template>
<script>
  export default {
    props: ['title']
  }
</script>
