<template>
  <div class="col-12 col-md-3">
    <div class="b-persons__item"><a href="#" class="b-persons__img">
      <img :src="img" alt="#">
    </a>
      <a href="#" class="b-persons__name">{{name}}</a>
      <div class="text-center">
        <a href="#" class="btn btn-round btn-round_active btn-secondary btn-round_active">{{follow}}</a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['name', 'follow', 'img']
  }
</script>
