<template>
  <div class="b-top">
    <div class="container">
      <h2>{{ title }}</h2>
      <div class="row">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {'title': ''}
  }
</script>
<style scoped>

</style>
