<template>
  <div class="col-12 col-md-4">
    <div class="b-top__item">
      <a href="#" class="b-top__img"></a>
      <a :href="href" class="b-top__name">{{ name }}</a>
      <div class="text-center">
        <a v-if="this.followed" href="#" class="btn btn-round btn-round_active btn-secondary">{{ this.comp_followed }}</a>
        <a v-else="this.followed" href="#" class="btn btn-round btn-secondary">{{ this.comp_followed }}</a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      'name': '',
      'followed': false,
      'href': ''
    },
    computed: {
      comp_followed: function () {
        return this.follow ? 'Подписаться' : 'Подписан'
      }
    }
  }
</script>
