<template>
  <div class="b-category">
  <div class="container">
    <h2>{{ title }}</h2>
    <ol>
      <slot></slot>
    </ol>
  </div>
</div>
</template>
<script>
  export default {
    props: {'title': ''}
  }
</script>
