.b-search {

    padding: 16px 0;

    @include media-breakpoint-up(lg) {
        display: block !important;
    }

    @include media-breakpoint-down(md) {
        display: none;
        padding-top: 0;
    }

    .btn {

        text-align: left;
        padding-left: 24px;
        padding-right: 24px;

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        .icon {
            margin-right: 10px;
            fill: $white;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }

    }

    .form-group {

        margin-right: 4px;
        margin-bottom: 0;

        @include media-breakpoint-down(md) {
            margin-bottom: 4px;
        }

        &:last-child {
            margin-right: 0;

            .btn, .form-control {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;

                @include media-breakpoint-down(md) {
                    border-radius: 0;
                }
            }
        }

        &:first-child {

            .btn, .form-control {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                @include media-breakpoint-down(md) {
                    border-radius: 0;
                }
            }

        }

        &.btn-container {
            width: 148px;

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-right: 0;
            }

        }

        &.field-container {
            width: 236px;

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-right: 0;
            }

        }

        &.sepparated {

            position: relative;

            &:before {
                position: absolute;
                left: 50%;
                content: '';
                top: 12px;
                bottom: 12px;
                width: 1px;
                background-color: #d8d8d8;
                z-index: 3;
            }

            &:after {
                position: absolute;
                left: 50%;
                margin-left: -1px;
                content: '';
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: #fff;
                z-index: 2;
            }
        }

        &.field-long {
            width: calc(100% - 236px - 236px - 148px - 4px - 4px - 4px);

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-right: 0;
            }

        }

    }

    .form-control.w50p {
        width: 50%;
    }

    .input-group .form-control, .input-group .form-control:disabled, .input-group .form-control[readonly] {
        background-color: $input-bg;
    }

}
