.b-header {

    background-color: $dark-bg;
    color: $white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

    transition: all .3s ease-in-out;

    &.floated {
        top: -70px;

        &:hover {
            top: 0;
        }

        @include media-breakpoint-down(md) {
            top: 0;
        }

    }

    & + * {
        margin-top: 150px;

        @include media-breakpoint-down(md) {
            margin-top: 65px;
        }

    }

    &__toggler {

        a {
            color: $white;
        }

        @include media-breakpoint-down(sm) {
            padding: 5px 15px;
            margin-left: auto;
            margin-top: -4px;
            margin-right: -30px;
        }

        .icon {
            fill: $white;
            margin: 0;
            top: -1px;
            margin-right: 10px;
        }
    }

    position: fixed;

    &__top {
        padding: 20px 0;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            padding-bottom: 16px;
        }
    }

    &__logo {
        margin-right: 24px;
    }

    &__menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }

        a {
            color: #ffffff;
            &.primary {
                color: theme-color("primary");
            }
        }

        .item {
            @include media-breakpoint-down(md) {
                display: none;
            }
            &.mobile-show {
                @include media-breakpoint-down(md) {
                    display: inline-block;
                }
            }
        }

        .item, .b-dropdown {
            margin-left: 24px;
        }
    }

    .username {
        display: inline-block;
        border: none;
        outline: none;
        width: auto;
        line-height: 32px;


        img {
            width: 32px;
            height: 32px;
            border: 2px solid #fff;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }

    }

}