.b-promo {
    background-color: $white;
    padding: 55px 0;

    &__title {
        text-align: center;
        font-weight: 300;
        line-height: 40px;
        font-size: 32px;
        padding: 0 160px;
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(md) {
            padding: 0;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 30px;
        }

        margin-bottom: 45px;

    }

    .styled-promo {
        display: inline-block;
        position: relative;
        &:before {
            position: absolute;
            z-index: -1;
            height: 16px;
            content: '';
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: rgba($primary, .5);
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &__process {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
        }
    }

    .step {
        width: 220px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        background-color: #fff;
        z-index: 2;
        &:after {
            position: absolute;
            top: 40px;
            right: -400px;
            z-index: 1;
            content: '';
            height: 1px;
            width: 400px;
            background-color: $primary;
            @include media-breakpoint-down(md) {
                top: 100%;
                right: 50%;
                width: 1px;
                height: 100px;
                margin-top: 10px;
            }
        }
        &:last-child:after {
            display: none;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 100px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .subtitle {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .btn {
        padding-left: 35px;
        padding-right: 35px;
    }

    .num {
        font-size: 72px;
        line-height: 80px;
        margin-bottom: 15px;
        font-weight: bold;
        color: $primary;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &.n1:before {
            top: 3px;
            right: 75px;
            width: 33px;
            height: 51px;
            background-image: url(/static/images/step-1.png);
        }

        &.n2:before {
            top: 38px;
            left: 110px;
            width: 48px;
            height: 48px;
            background-image: url(/static/images/step-2.png);
        }

        &.n3:before {
            top: 19px;
            right: 75px;
            width: 32px;
            height: 51px;
            background-image: url(/static/images/step-3.png);
        }

    }

    &_secondary {

        .styled-promo:before {
            background-color: rgba($secondary, .5);
        }

        .num {
            color: $secondary;
        }

        .step:after {
            background-color: $secondary;
        }

    }

}
