.b-events {
    padding: 35px 0 40px;
    position: relative;

    &_inner {
        padding-bottom: 30px;
    }

    &__more {
        font-size: 1rem;
        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            margin-top: -3px;
            fill: theme-color('primary');
        }
    }

    a {
        color: $body-color;
        display: block;
        overflow: hidden;
        border-radius: 4px;
        &:hover {
            color: $primary;
        }
    }

    &__title {
        margin-bottom: 35px;
        line-height: 2rem;


        .btn {
            @include media-breakpoint-down(md) {
                margin-top: 20px;
            }
        }

    }

    &__item {

        margin-bottom: 40px;
        font-size: .875rem;
        font-weight: lighter;
        color: $body-color_light;

        p {
            margin: 0;
            max-height: calc(1rem * 2);
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1rem;
        }

    }

    &__date {
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 1.125rem;
        font-weight: bold;
        display: block;
        color: $body-color;
    }

    &__img {
        width: 100%;
        height: 220px;
        border-radius: 4px;
        display: block;
        margin-bottom: 1rem;
        object-fit: cover;
        transition: all .8s ease;
        &:hover {
            transform: scale(1.01);
        }
    }

    &__name {

        font-size: 1rem;
        display: block;
        margin-bottom: 8px;
        max-height: calc(1.25rem * 2);
        line-height: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;

    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 370px;
        z-index: 6;

        background: linear-gradient(to bottom, rgba(249,249,249,0) 0%,rgba(249,249,249,0.4) 6%,rgba(249,249,249,0.6) 12%,rgba(250,250,250,1) 100%);;

        text-align: center;
        padding-bottom: 80px;
    }

    &__text {
        padding: 0 120px;
        margin-bottom: 32px;
        font-weight: normal;
        @include media-breakpoint-down(sm) {
            padding: 0 10px;
            font-size: 18px;
        }
    }

    .btn {
        padding: 8px 20px;
        color: #ffffff;
        display: inline-block;


        &:hover {
            color: #ffffff;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 10px;
            padding-right: 10px;
        }

    }

    .counter {
        color: #8e8e93;
        font-size: .85rem;
        padding-left: 5px;
        cursor: pointer;
    }

    h3, .h4 {
        margin-bottom: 30px;
        font-weight: 400;
    }

    .js-scroll-title {
        position: -webkit-sticky;
        position: sticky;
        top: 79px;
        background-color: $body-bg;
        padding: 5px 0;
        z-index: 3;
        @include media-breakpoint-down(md) {
            top: 65px;
        }
    }

    .btn.btn-round {
        border-radius: 100px;
    }

    .float-md-right {
        @include media-breakpoint-down(md) {
            float: right;
            margin-top: 0;
        }
    }

}
