<template>
    <div class="collapse js-tabs-collapse" id="subscribers">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="b-subscribe">
                        <div class="container">
                            <section class="b-subscribe__date">
                                <h4 class="h4 b-subscribe__title"> Новое </h4>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="b-subscribe__name"><strong>Большой Театр</strong> добавил 9 событий
                                            <span class="small">час назад</span></div>
                                        <div class="img-list">
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                          <a href="#">
                                            <img src="" alt="" class="b-subscribe__img">
                                          </a>
                                        </div>
                                    </div>
                                </section>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="d-block d-md-flex">
                                            <div class="b-subscribe__name"><strong>Борис Гребенщиков</strong> добавил
                                                коллекцию «Москва, которую мы забыли»<span
                                                        class="small">2 часа назад</span></div>
                                            <a href="#" class="b-subscribe__wrapped-img">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                            </a></div>
                                    </div>
                                </section>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="d-block d-md-flex">
                                            <div class="b-subscribe__name"><strong>Ростовский государственный
                                                музыкальный театр</strong> добавил событие «Показ фильма ‘’Карьера Димы
                                                Горина’’»<span class="small">вчера</span></div>
                                            <a href="#" class="b-subscribe__wrapped-img">
                                                <img src="" alt="">
                                            </a></div>
                                    </div>
                                </section>
                            </section>
                            <section class="b-subscribe__date">
                                <h4 class="h4 b-subscribe__title"> Ранее </h4>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="b-subscribe__name"><strong>Большой Театр</strong> добавил 9 событий
                                            <span class="small">час назад</span></div>
                                        <div class="img-list"><a href="#"><img src="" alt=""
                                                                               class="b-subscribe__img"></a> <a
                                                href="#"><img src="" alt=""
                                                              class="b-subscribe__img"></a> <a href="#"><img
                                                src="" alt="" class="b-subscribe__img"></a> <a
                                                href="#"><img src="" alt=""
                                                              class="b-subscribe__img"></a> <a href="#"><img
                                                src="" alt="" class="b-subscribe__img"></a> <a
                                                href="#"><img src="" alt=""
                                                              class="b-subscribe__img"></a> <a href="#"><img
                                                src="" alt="" class="b-subscribe__img"></a> <a
                                                href="#"><img src="" alt=""
                                                              class="b-subscribe__img"></a> <a href="#"><img
                                                src="" alt="" class="b-subscribe__img"></a></div>
                                    </div>
                                </section>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="d-block d-md-flex">
                                            <div class="b-subscribe__name"><strong>Борис Гребенщиков</strong> добавил
                                                коллекцию «Москва, которую мы забыли»<span
                                                        class="small">2 часа назад</span></div>
                                            <a href="#" class="b-subscribe__wrapped-img">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                            </a></div>
                                    </div>
                                </section>
                                <section class="b-subscribe__section">
                                    <div class="b-subscribe__avatar"><img src="" alt="#"></div>
                                    <div class="b-subscribe__text">
                                        <div class="d-block d-md-flex">
                                            <div class="b-subscribe__name"><strong>Ростовский государственный
                                                музыкальный театр</strong> добавил событие «Показ фильма ‘’Карьера Димы
                                                Горина’’»<span class="small">вчера</span></div>
                                            <a href="#" class="b-subscribe__wrapped-img">
                                                <img src="" alt="">
                                            </a></div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 d-none d-lg-block">
                    <div class="b-persons b-persons_aside">
                        <div class="container">
                            <h4 class="b-persons__title"> Популярные персоны<br/> <a>Нажмите, чтобы подписаться</a></h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="b-persons__item b-persons__item_inline"><a href="#"
                                                                                           class="b-persons__img">
                                        <img src="" alt="#">
                                    </a> <a href="#" class="b-persons__name">Стас Михайлов</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="b-persons__item b-persons__item_inline"><a href="#"
                                                                                           class="b-persons__img">
                                        <img src="" alt="#">
                                    </a> <a href="#" class="b-persons__name">Стас Михайлов</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="b-persons__item b-persons__item_inline"><a href="#"
                                                                                           class="b-persons__img">
                                        <img src="" alt="#">
                                    </a> <a href="#" class="b-persons__name">Стас Михайлов</a></div>
                                </div>
                            </div>
                            <a href="#">Посмотреть всех</a></div>
                    </div>
                    <div class="b-req">
                        <div class="container">
                            <h4 class="b-req__title"> Рекомендуемые места </h4>
                            <ul class="list-unstyled">
                                <li class="b-req__item"><a href="" class="b-req__link js-filter-item">

                                    <svg class="icon icon-req__check">
                                        <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
                                    </svg>

                                    <span>Краевой музей</span>
                                </a></li>
                                <li class="b-req__item"><a href="" class="b-req__link js-filter-item">

                                    <svg class="icon icon-req__check">
                                        <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
                                    </svg>

                                    <span>Camdus Cineplex</span>
                                </a></li>
                                <li class="b-req__item"><a href="" class="b-req__link js-filter-item">

                                    <svg class="icon icon-req__check">
                                        <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
                                    </svg>

                                    <span>Дом кино и телевидения</span>
                                </a></li>
                            </ul>
                            <a href="#">Обновить</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
