<template>
  <li>
    <a :href="city_href">
      <span>{{name}}</span>
      <span class="b-category__number">{{number}}</span>
    </a>
    <ul class="list-unstyled">
      <li v-for="category in visible_subcategories(subcategories)" class="b-category__sub">
        <a :href="subcategory_href(category.slug)">
          <span>{{category.title}}</span>
        </a>
      </li>
      <li v-if="showAll" v-for="category in hidden_subcategories(subcategories)" class="b-category__sub">
        <a :href="subcategory_href(category.slug)">
          <span>{{category.title}}</span>
        </a>
      </li>
      <li v-if="subcategories.length > 5 && !showAll" class="b-category__sub">
        <a href="#" @click.stop.prevent="showMore(category)">
          <span>Ещё</span>
        </a>
      </li>
      <li v-if="showAll" class="b-category__sub__all">
        <a :href="city_href">
          <span>Все</span>
        </a>
      </li>
    </ul>
  </li>
</template>

<script>
  export default {
    props: [
      'name', 'number', 'city', 'slug', 'subcategories', 'showAll'
    ],
    methods: {
      visible_subcategories: function (list) {
        return list.slice(0, 5)
      },
      hidden_subcategories: function (list) {
        return list.slice(5, 10)
      },
      subcategory_href: function (subcategory_slug) {
        let params = this.$route && this.$route && this.$route.params || {}
        return `/${params.city_slug}/categories/${this.slug}/${subcategory_slug}/`
      },
      showMore: function(e) {
        this.showAll = true
      }
    },
    computed: {
      city_href: function() {
        let params = this.$route && this.$route && this.$route.params || {}
        return `/${params.city_slug}/categories/${this.slug}/`
      },
    }
  }
</script>

<style scoped>
  ul {
    margin: 0.5rem 0;
  }
  .hidden {
    display: none;
  }
  .b-category__sub,
  .b-category__sub__all {
    line-height: 1.4rem;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .b-category__sub__all a {
    color: #1e2a35;
  }
</style>
