.b-dropdown {

    position: relative;

    @include media-breakpoint-down(md) {
        display: none;
    }

    &.active {

        .b-dropdown__list {

            opacity: 1;
            z-index: 2;

        }

        .b-dropdown__title:before {
            transform: translateY(-50%) rotate(-180deg);
        }

    }

    &__title {
        position: relative;
        display: inline-block;
        padding-right: 16px;

        &:before {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            content: '';
        }

    }

    &__list {
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        position: absolute;
        color: theme-color("$primary");
        background-color: #ffffff;
        opacity: 0;
        z-index: -1;
        transition: all .25s ease-in;
        box-shadow: 0 0 16px rgba(#000, .1);

        a {

            color: theme-color("primary");
            display: block;
            padding: 4px 24px;

            &:hover, &.selected {
                background-color: theme-color("primary");
                color: #ffffff;
                text-decoration: none;
            }

            &.selected {
                cursor: default;
            }

        }

    }

}
