.b-crumbs {

    background-color: $white;
    padding: 22px 0;

    @include media-breakpoint-down(md) {
        display: none;
    }

    a.b-crumbs__city {
        color: $body-color;

        .icon {
            fill: $body-color;
        }

        &:hover {
            color: $primary;

            .icon {
                fill: $primary;
            }
        }
    }

    &_promo {
        background-color: transparent;
        position: relative;
        z-index: 2;
        color: $white;

        @include media-breakpoint-down(sm) {
            background-color: $dark-bg;
        }

        a, a.b-crumbs__city {

            color: $white;

            .icon {
                fill: $white;
            }

            &:hover {
                color: $primary;

                .icon {
                    fill: $primary;
                }
            }

        }

    }

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    &__city {
        padding-left: 27px;
        position: relative;

        @include media-breakpoint-down(sm) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            fill: $primary;
        }

        &_nav {
            color: #8e8e93;
            a {
                color: #8e8e93;
                &:hover {
                    color: $primary;
                }
            }
            span, a {
                display: inline-block;
                padding-right: 8px;
                margin-right: 8px;
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    right: -5px;
                    transform: translateY(-50%);
                    content: '/';
                    color: #8e8e93 !important;
                }

                &:last-child {
                    margin-right: 0;
                }

            }
        }
    }

    @include media-breakpoint-down(sm) {
        .text-md-right.text-left.d-block.d-md-flex.align-items-center {
            padding-top: 15px;
        }
    }

    &__social {

        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 30px;

        @include media-breakpoint-down(sm) {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 0;
            display: block;
        }

        .icon {
            margin-right: 15px;
        }

        &_vk {

            color: #45668E;

            .icon {
                fill: #45668E;
            }

        }

        &_fb {
            color: #3b5998;

            .icon {
                fill: #3b5998;
            }

        }

        &_tw {
            color: #1DA1F2;

            .icon {
                fill: #1DA1F2;
            }

        }

    }

}
