<template>
  <div>
    <common-header>
      <topbar slot="top"></topbar>
      <search slot="search"></search>
      <crumbs slot="breadcrumbs"></crumbs>
    </common-header>

    <tabs></tabs>

    <div class="collapse show js-tabs-collapse">
      <div class="container">
        <data-loading @infinite-scroll="infiniteScroll" :offset="250" :loading="loading" :completed="completed">
          <events-section @update-filters="updateFilters">
          </events-section>
        </data-loading>
        <div slot="infinite-scroll-loading" class="some-style-you-like text-center">
          <svg v-if="feed.toggleSpinner || false" width="80px"  height="80px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: none;"><circle cx="50" cy="50" fill="none"  stroke="#127dbf" stroke-width="3" r="20" stroke-dasharray="94.24777960769379 33.41592653589793" transform="rotate(270 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.4s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
        </div>
      </div>
    </div>

    <subs-section></subs-section>

    <app-footer></app-footer>
  </div>
</template>

<script>
  import { debounce } from 'lodash'
  import CommonHeader from '../components/header'
  import Topbar from '../components/top'
  import Search from '../components/search'
  import Crumbs from '../components/crumbs'

  import Tabs from '../components/tabs'
  import AppFooter from '../components/footer'

  import EventsSection from '../components/events/EventsSection'
  import SubsSection from '../components/subscribe/SubsSection'
  import DataLoading from '../components/dataLoading'

  export default {
    created () {
      this.$store.dispatch('GET_FEED_FILTERS')
      this.$store.dispatch('GET_FEED_EVENTS')
    },
    data () {
      return {
        selected_cities: [],
        selected_categories: [],
        user: this.$store.user,
        feed: this.$store.state.feed,
        loading: false,
        completed: false
      }
    },
    // mounted () {
    //   this.updateFeed()
    // },
    methods: {
      infiniteScroll: debounce(function () {
        this.$store.dispatch('GET_FEED_EVENTS')
      }, 1000),

      updateFilters (filters) {
        console.log('setting up new filters: ', filters)
        this.$store.dispatch('UPDATE_FEED_FILTERS', filters)
      },

      updateFeed () {
        this.$store.dispatch('GET_FEED_EVENTS').then(response => {
          if (this.feed && !this.feed.next) {
            this.loading = true
            this.completed = true
          }
        })
      }
    },
    components: {
      CommonHeader, Topbar, Search, Crumbs, AppFooter, Tabs, EventsSection, DataLoading, SubsSection
    }
  }
</script>
