<template xmlns="http://www.w3.org/1999/html">
  <div>
    <common-header>
      <topbar slot="top"></topbar>
      <search slot="search"></search>
      <crumbs slot="breadcrumbs"></crumbs>
      <div v-show="city.id" slot="landing">
        <landing></landing>
      </div>
    </common-header>

    <category-container v-if="city.id">
      <category-list v-for="section in city.categories" :key="section.id">
        <category-item v-for="item in section" :key="item.key" :name="item.title" :number="item.events_count" :slug="item.slug" :city="city.name" :subcategories="item.subcategories"></category-item>
      </category-list>
    </category-container>

    <events-container v-if="city.id" :title="city.titles.upcoming_title" :action="city.titles.category_action" :action-title="city.titles.action_title" :slogan="city.titles.slogan">
      <div v-if="city.events.length" v-for="crow in city.events" class="row">
        <event-card v-for="card in crow"
                       :key="card.text_date"
                       :date="card.text_date" :title="card.title"
                       :place="card.place" :img="card.image"
                       :actual_schedule="card.actual_schedule"
                       :min_price="card.min_price" :max_price="card.max_price"
                       :href="card.absolute_url">
        </event-card>
      </div>
    </events-container>
    <div v-else>
      <events-container>
        <div class="col-md-12">
          <month-container
            :key="nextWeek"
            :date_key="nextWeek">
          </month-container>
          <month-container
            :key="nextMonth"
            :date_key="nextMonth">
          </month-container>
        </div>
      </events-container>
    </div>

    <city-about :description="city.description" :title="city.titles.about_city_title">
      <li><a :href="comp_city_detail" v-if="city.details.events">{{ city.details.events.text }}</a></li>
      <li><a :href="city.details.collections.url" v-if="city.details.collections">{{ city.details.collections.text }}</a></li>
    </city-about>

    <!--&lt;!&ndash; no image &ndash;&gt;-->
    <!--<best-places :title="city.best_title">-->
      <!--<place-card v-for="place in city.best_places" :key="place.id" :name="place.title" :followed="place.followed" :href="place.absolute_url"></place-card>-->
    <!--</best-places>-->

    <popular-places :title="city.titles.popular_month_title">
      <li v-for="popular in city.popular_places"> <a :href="popular.absolute_url">{{ popular.title }}</a> </li>
    </popular-places>

    <!--<persons-list :title="city.titles.persons_title">-->
      <!--<person v-for="person in city.persons" :key="person.id" :name="person.username" :img="person.headshot" follow="Подписан"></person>-->
    <!--</persons-list>-->

    <!--<div class="b-promo">-->
      <!--<div class="container">-->
        <!--<h2 class="text-center">Промо. 3 простых шага создания своей ленты.</h2>-->
      <!--</div>-->
    <!--</div>-->
    <three-easy-steps></three-easy-steps>
    <interesting>
      <h2>{{ city.titles.interesting_title }}</h2>
      <div class="d-flex flex-wrap b-interesting__article">
        <tag v-for="tag in city.collections"
          :key="tag.id"
          :id="tag.id"
          :type="'collections'"
          :name="tag.title"
          :slug="tag.slug">
        </tag>
      </div>
      <div class="b-interesting__text" v-html="city.content"></div>
      <div class="text-center">
        <!--<router-link :to="{ name: 'feed' }" class="btn btn-primary">-->
          <!--Найти события рядом-->
        <!--</router-link>-->
        <a href="/" class="btn btn-primary">Найти события рядом</a>
      </div>
    </interesting>

    <app-footer></app-footer>
  </div>
</template>
<script>
  import CommonHeader from '../components/header'
  import Topbar from '../components/top'
  import Search from '../components/search'
  import Crumbs from '../components/crumbs'
  import Landing from '../components/landing'

  import AppFooter from '../components/footer'

  import CategoryItem from '../components/category/Item'
  import CategoryList from '../components/category/List'
  import CategoryContainer from '../components/category/Container'

  import EventsContainer from '../components/events/Container'
  import MonthContainer from '../components/events/MonthContainer'
  import EventCard from '../components/events/Card'

  import Person from '../components/persons/Person'
  import PersonsList from '../components/persons/PersonsList'

  import CityAbout from '../components/city/About'

  import PlaceCard from '../components/places/Card'
  import BestPlaces from '../components/places/BestList'
  import PopularPlaces from '../components/places/PopularList'

  import Tag from '../components/interesting/Tag'
  import Interesting from '../components/interesting/Container'

  import ThreeEasySteps from '../components/promo'

  export default {
    components: {
      CommonHeader, Search, Topbar, Crumbs, Landing,

      CategoryContainer, CategoryList, CategoryItem,
      EventsContainer, MonthContainer, EventCard,
      CityAbout, PersonsList, Person,

      BestPlaces, PlaceCard, PopularPlaces,
      Interesting, Tag,
      AppFooter, ThreeEasySteps
    },
    data () {
      return {
        nextWeek: '0:H-14:d',
        nextMonth: '3:M-30:d',
        user: this.$store.state.user,
        city: this.$store.state.city,
        feed: this.$store.state.feed,
      }
    },
    created () {
      this.$store.dispatch('GET_ENV')
      this.$store.dispatch('GET_FEED_FILTERS')
      if (this.$route.params.city_slug) {
        this.$store.dispatch('GET_CITY', this.$route.params.city_slug)
      }
    },
    mounted () {
      let payload = {}
      if (this.user.me.location) {
        // geo filter default radius
        payload.raduis = 80000
        payload.lng = this.user.me.location.longitude
        payload.lat = this.user.me.location.latitude
      }
      this.$store.dispatch('GET_FEED', payload)
    },

    computed: {
      comp_city_detail: function () {
        return `/search/?name=${this.$route.params.city_slug}`
      },
      events () {
        return this.feed.events
      }
    }
  }
</script>
<style scoped></style>
