<template>
        <div class="b-about-city">
        <div class="container">
          <h4 class="h4">{{ title }}</h4>
          <div class="row">
            <div v-html="description" class="col-12 col-md-9"></div>
            <div class="col-12 col-md-3">
              <ul class="list-unstyled">
                <slot></slot>
              </ul>
            </div>
          </div>
        </div>
      </div>
</template>
<script>
  export default {
    props:{
        'title': '',
        'description': '',
        'details': []
    }
  }
</script>
