.b-landing {
    background-position: 50% 50%;
    margin-top: -68px;
    background-repeat: no-repeat;
    background-color: $dark-bg;
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    position: relative;
    height: auto !important;
    min-height: 280px;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    &__title {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 15px;
        padding-top: 40px;
        position: relative;
        z-index: 2;
        @include media-breakpoint-down(md) {
            font-size: 3rem;
        }
    }

    &__events {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: normal;
        position: relative;
        z-index: 2;
        a {
            color: $white;
        }
    }

    .container {
        position: absolute;
        z-index: 2;
    }

    &__img {

        position: relative;
        z-index: 1;
        width: 100%;
        max-height: 500px;
        object-fit: cover;

        @include media-breakpoint-down(md) {
            min-height: 400px;
            object-fit: cover;
        }

    }

}
