.b-top {
    padding: 40px 0;
    border-bottom: 1px solid #E8E8E8;

    &__item {
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }
    }

    &__img {

        height: 220px;
        background-color: #ccc;
        width: 100%;
        display: block;
        margin-bottom: 1rem;

        img {
            object-fit: cover;
            border-radius: 4px;
        }

    }

    &__name {

        color: $body-color;
        @extend .extra-large-text;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0 5px;

    }

    .btn-round {

        border-radius: 100px;
        padding: 7px 20px;
        min-width: 140px;

        &_active {
            background-color: transparent;
            color: theme-color("secondary");
            cursor: default;
        }

    }

}
