<template>
    <div class="b-crumbs" v-bind:class="{ 'b-crumbs_promo': city.id }" style="z-index: 5;">
        <div class="container d-none d-md-flex justify-content-between align-items-center" style="z-index: 3;">

            <router-link :to="{ name: 'feed' }" class="b-crumbs__city">
                <svg class="icon icon-crumbs__map">
                    <use xlink:href="/static/images/sprite.svg#icon-crumbs__map"></use>
                </svg>
                <!--<span>{{userCity}}</span>-->
                <span @click.prevent="$root.$emit('allCities:modal:show')">Другие города</span>
            </router-link>
            <div class="text-md-right text-left d-block d-md-flex align-items-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://whatwhere.world/"
                   class="b-crumbs__social b-crumbs__social_fb">
                    <svg class="icon icon-crumbs__fb">
                        <use xlink:href="/static/images/sprite.svg#icon-crumbs__fb"></use>
                    </svg>
                    Расшарить
                </a>
                <a href="https://vk.com/share.php?url=https://whatwhere.world/&title=&description=&image=&noparse=true"
                   class="b-crumbs__social b-crumbs__social_vk">
                    <svg class="icon icon-crumbs__vk">
                        <use xlink:href="/static/images/sprite.svg#icon-crumbs__vk"></use>
                    </svg>
                    Поделиться
                </a>
                <a href="https://twitter.com/intent/tweet?text=&url=https://whatwhere.world/&via=whatWhere"
                   class="b-crumbs__social b-crumbs__social_tw">
                    <svg class="icon icon-crumbs__tw">
                        <use xlink:href="/static/images/sprite.svg#icon-crumbs__tw"></use>
                    </svg>
                    Твитнуть
                </a>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                city: this.$store.state.city,
                user: this.$store.state.user,
                lang: {},
            }
        },
        computed: {
            userLocation() {
                return this.user.me.location || {}
            },
            userCity() {
                return this.userLocation.city || this.userLocation.country_name
            }
        }
    }
</script>
