<template>

  <footer class="b-footer">

    <div class="b-footer__top">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="/about/">Что такое WhatWhere?</a></li>
              <li><a href="/organizers/">Организаторам</a></li>
              <li><a href="/help/">Помощь</a></li>
              <li><a href="/static/docs/terms.where.world.en.pdf">Условия использования</a></li>
              <!--<li><a href="#">Карта сайта</a></li>-->
            </ul>
          </div>
          <div class="col-12 col-lg-4 lined">
            <p>
              Мы агрегируем события по всему миру, но уделяем пристальное внимание качеству событийного
              контента в каждом городе.
            </p>

            <p>
              Вы можете помочь нам сделать WhatWhere лучше.
            </p>

            <p>
              <a href="mailto:hello@whatwhere.world">Стать партнёром WhatWhere</a> в своём городе
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <p>
              2017–2018 &copy; WhatWhere.world
              <span class="subtitle">
                            Лучшие события рядом и по всему миру
                        </span>
            </p>
            <p>
              <a href="#">In English please</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="b-footer__bottom d-none d-lg-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-4">
            Попробуйте наши мобильные<br/>коллекции на своём телефоне,<br/><a href="https://play.google.com/store/apps/developer?id=WhatWhere">доступные в Google Play</a>
          </div>
          <div class="col-12 col-lg-4">
            <a href="https://play.google.com/store/apps/details?id=whatwhere.moscow.afisha.sobytiya.ekskursii" class="big-link big-link_purple">
              <svg class="icon icon-footer__android"><use xlink:href="/static/images/sprite.svg#icon-footer__android"></use></svg>Прогулки по Москве
            </a>
          </div>
          <div class="col-12 col-lg-4">
            <a href="https://play.google.com/store/apps/details?id=whatwhere.moscow.afisha.sobytiya.festival" class="big-link big-link_pink">
              <svg class="icon icon-footer__android"><use xlink:href="/static/images/sprite.svg#icon-footer__android"></use></svg>Экскурсии Москвы
            </a>
          </div>
        </div>
      </div>
    </div>

  </footer>

</template>
