<template>
  <div>
    <auth-modal></auth-modal>
    <subscribe-modal></subscribe-modal>
    <create-feed-modal></create-feed-modal>
    <all-cities-modal></all-cities-modal>
    <header class="b-header">
      <slot name="top"></slot>
      <slot name="search"></slot>
    </header>
    <slot name="breadcrumbs"></slot>
    <slot name="landing"></slot>
  </div>
</template>
<script>
  import AuthModal from './modals/AuthModal'
  import SubscribeModal from './modals/SubscribeModal'
  import CreateFeedModal from './modals/CreateFeedModal'
  import AllCitiesModal from './modals/AllCitiesModal'

  import Topbar from './top'
  import Search from './search'

  import Breadcrumbs from './crumbs'
  import Landing from './landing'

  export default {
    components: {
      AuthModal, SubscribeModal, CreateFeedModal, AllCitiesModal, Topbar, Search, Breadcrumbs, Landing
    },
    data () {
      return {
        user: this.$store.state.user,
        lang: {}
      }
    }
  }
</script>
