<template>
  <div class="b-landing d-flex align-items-center justify-content-center">
    <div :style="comp_overlay"></div>
    <div class="container text-center">
      <h1 class="b-landing__title">{{ city.name }}</h1>
      <h2 class="b-landing__events"><a href="#">{{ comp_events }}</a> <a href="#">{{ comp_collections }}</a> </h2>
    </div>
    <img :src="comp_image_src" alt="#" class="b-landing__img">
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        city: this.$store.state.city
      }
    },
    computed: {
      comp_events: function () { return this.$tools.format_number_with_space(this.city.events_count) },
      comp_collections: function () { return this.$tools.format_number_with_space(this.city.collections_count) },
      comp_cover_image: function () { return 'background-image:url(' + (this.city.cover_image || '#') + ');' },
      comp_image_src: function () { return this.city.cover_image || '#' },
      comp_overlay: function () {
        return 'position: absolute; height: 100%; width: 100%; background-color: rgba(30,42,53,' + (this.city.cover_image_opacity || '1.0') + '); z-index: 2;'
      }
    }
  }
</script>
