<template>
  <div class="b-promo">
    <div class="container">
      <h2 class="b-promo__title">
        <span class="styled-promo">Расскажи</span>, что тебе нравится и мы будем угадывать твои желания: смотри
        <span class="styled-promo">только интересное тебе</span>
      </h2>

      <div class="b-promo__process">

        <div class="step">
          <div class="num n1">1</div>
          <div class="subtitle">Заходи</div>
          Войдите через соцсеть или зарегистрируйтесь
        </div>

        <div class="step">
          <div class="num n2">2</div>
          <div class="subtitle">Выбирай</div>
          Укажите предпочтения и интересные вам события
        </div>

        <div class="step">
          <div class="num n3">3</div>
          <div class="subtitle">Получай</div>
          Смотрите персональную подборку событий
        </div>
      </div>

      <div class="text-center">
        <div @click="redirectToFeed()" class="btn btn-primary">Сформировать ленту</div>
      </div>

    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        redirect: false
      }
    },
    computed: {
      authenticated: function () {
        return this.$store.state.user.authenticated
      }
    },
    watch: {
      authenticated: function () {
        if (this.redirect) {
          this.redirect = false
          this.$router.push('/feed')
        }
      }
    },
    methods: {
      redirectToFeed: function () {
        if (!this.authenticated) {
          this.redirect = true
          this.$root.$emit('auth:modal:show', true, false)
        } else {
          this.$router.push('/feed')
        }
      }
    }
  }
</script>
