<template>
  <div class="b-search">
    <div class="container">
      <form class="d-flex flex-wrap">

        <div class="form-group field-long">
          <input @keyup.enter="submitSearch" type="text" class="form-control" placeholder="Какое событие вы ищете?" v-model="query">
        </div>

        <div class="form-group field-container">
          <input @blur="hideCityList" @focus="showCityList" type="text" class="form-control" placeholder="В каком городе?" v-model="city_name">

          <transition name="fade">
            <div v-if="showed" class="b-dropdown" :class="{active : 'showed' }">
              <ul class="b-dropdown__list list-unstyled" style="width: 100%;">
                <drop-down-item
                  v-for="city in city_list"
                  :key="city.id"
                  :id="city.place_id"
                  :description="city.description"
                  @selected="selectCity">
                </drop-down-item>
              </ul>
            </div>
          </transition>

        </div>

        <div class="form-group field-container d-flex sepparated">
          <datepicker
            language="ru" placeholder="Начало" input-class="form-control w50p"
            :highlighted="dates" bootstrapStyling @selected="startDateSelected"
          ></datepicker>
          <datepicker language="ru" placeholder="Окончание" input-class="form-control w50p"
                      :highlighted="dates" bootstrapStyling @selected="finishDateSelected"
          ></datepicker>
        </div>

        <div class="form-group btn-container">
          <!--<a @click.prevent="submitSearch" class="btn btn-primary btn-block">-->
          <a :href="search_url" class="btn btn-primary btn-block">
            <svg class="icon icon-search__ico">
              <use xlink:href="/static/images/sprite.svg#icon-search__ico"></use>
            </svg>
            Найти
          </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Datepicker from 'vuejs-datepicker'
  import moment from 'moment'
  import GoogleMapsLoader from 'google-maps'


  Vue.component('drop-down-item', {
    template: '<li @click.prevent="selected"><a href="#">{{ description }}</a></li>',
    props: ['description', 'id'],
    methods:{
      selected: function () {
        console.log('select')
        this.$emit('selected', {description: this.description, id: this.id})
      }
    }
  })

  export default {
    components: { Datepicker },
    data: function () {
      return {
        query: null,
        city_name: null,
        city_list: [],
        start_date: null,
        finish_date: null,

        showed: false,
        map: null,
        google_loader: null,
        autocomplete: null,
        geocoder: null,

        location: null,
        dates: {
          from: moment(),
          to: moment().add(1, 'Y')
        }
      }
    },
    watch: {
      city_name (newVal, oldVal) {
        if (newVal) {
          console.log(newVal)
          this.autocomplete.getPlacePredictions({input: newVal}, (predictions, status) => {
            this.city_list = predictions
          })
        } else {
          console.log('clear city')
          this.location = null
          this.city_list = []
        }
      }
    },
    computed: {
      coords () {
        return this.location && this.location.toJSON() || {}
      },
      search_url: function (){
          let events = this.query ? this.query : ''
          let name = this.city_name ? this.city_name : ''
          let lat = this.location ? this.location.lat() ? this.location.lat() : '' : ''
          let lng = this.location ? this.location.lng() ? this.location.lng() : '' : ''
          let start = this.start_date ? this.start_date : ''
          let end = this.finish_date ? this.finish_date : ''

          return '/search/?q=' + events + '&name=' + name + '&lat=' + lat + '&lng=' + lng + '&start=' + start + '&end=' + end
      }
    },
    methods:{
      showCityList() {
        this.showed = true
      },
      hideCityList() {
        setTimeout( () => {
          this.showed = false
        }, 400)
      },
      selectCity (data) {
        this.city_name = data.description

        this.geocoder.geocode({ 'placeId': data.id }, (result, status) => {
          if (status === 'OK'){
            this.location =  result[0].geometry.location
          }
        })
      },
      startDateSelected (date) {
        this.start_date = this.customFormatter(date)
      },
      finishDateSelected (date) {
        this.finish_date = this.customFormatter(date)
      },
      customFormatter (date) {
        return moment(date).format('DD.MM.YYYY')
      },
      submitSearch (e) {
        this.$store.dispatch('GET_FEED_EVENTS', {
          reset: true,
          query: this.query,
          end_date: this.finish_date,
          start_date: this.start_date,
          lat: this.coords ? this.coords.lat : null,
          lng: this.coords ? this.coords.lng : null,
          radius: 80000,
        }).then(this.smoothScroll)
      },
      smoothScroll () {
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
        if (currentScroll > 0) {
          window.requestAnimationFrame(this.smoothScroll);
          window.scrollTo (0,currentScroll - (currentScroll/5));
        }
      }

    },
    created () {
      GoogleMapsLoader.KEY =  this.$store.state.env.google_map_key
      GoogleMapsLoader.LIBRARIES = ['places']

      this.google_loader = GoogleMapsLoader.load( google => {
        this.map = google.maps
        this.autocomplete = new this.map.places.AutocompleteService()
        this.geocoder = new this.map.Geocoder
      })
    }
  }
</script>
