<template>
  <div class="b-tabs">
    <div class="container">
      <div class="h1 d-md-flex justify-content-start align-items-baseline">
        <span class="">{{lang.title}}</span>
        <nav class="b-tabs__togglers">
          <a
            v-for="tab in tabs"
            class="item js-item"
            :href="tab.url"
            :class="{ 'active': selected_tab === tab.url }"
            @click.stop.prevent="activate(tab)">{{tab.title}}</a>
        </nav>
        <a
          class="btn btn-outline-primary btn-xs m-l-auto js-get-modal js-get-feed-modal"
          href="#subscribe"
          @click.prevent="openModal">{{lang.settings}}</a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        selected_tab: 'events',
        lang: {
          title: 'Моя лента',
          settings: 'Настроить'
        },
        tabs: [
          {url: 'events', title: 'События'},
          // {url: 'subscribers', title: 'Подписки'},
        ]
      }
    },
    methods: {
      openModal: function () {
        this.$store.state.feed.openSettingsModal = true
        this.$root.$emit('feed:modal:show')
      },
      activate (tab) {
        // TODO show subscribe splash
        console.log(tab.url)
        this.selected_tab = tab.url
      },
      showSubscribe (event) {
        // TODO show subscribe splash
        console.log(event)

      }
    }
  }
</script>
