<template>
  <div class="container">
    <section class="b-header__top">
      <router-link :to="{ name: 'mainpage' }" class="b-header__logo">
        <svg class="icon icon-header__logo">
          <use xlink:href="/static/images/sprite.svg#icon-header__logo"></use>
        </svg>
      </router-link>
      <div class="d-lg-none d-block b-header__toggler">
        <a href="#" class="js-header-toggler d-flex align-items-center">
          <svg class="icon icon-search__ico">
            <use xlink:href="/static/images/sprite.svg#icon-search__ico"></use>
          </svg>
          <span class="d-none d-md-block">Поиск событий</span>
        </a>
      </div>
      <div class="b-header__title d-none d-lg-block"> WhatWhere.World — находите события вокруг и в любом городе мира </div>
      <nav class="b-header__menu">
        <a v-if="notAuthenticated" href="#" class="item mobile-show" @click="open_login_modal">Вход</a>
        <template v-else>
          <a href="/feed/" class="item primary hide-for-small">Моя лента</a>
          <a rel="nofollow" :href="profile_url" class="item username hide-for-small">
            <img class="profile-headshot" :src="this.headshot">
          </a>
          <a rel="nofollow" :href="profile_url" class="mobile-show">{{ me.first_name }}</a>
          <a rel="nofollow" class="item hide-for-small" @click="user_logout" href="#">Выход</a>
        </template>

        <a v-if="notAuthenticated" class="item primary" href="#" @click="user_register_modal">Регистрация</a>
        <div class="b-dropdown"> <a href="#" class="b-dropdown__title js-dropdown-title">Rus</a>
          <ul class="b-dropdown__list list-unstyled">
            <li> <a href="#" class="selected" @click="set_lang('ru')">Rus</a> </li>
            <li> <a href="#" @click="set_lang('en')">Eng</a> </li>
          </ul>
        </div>
      </nav>
    </section>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        user: this.$store.state.user
      }
    },
    created () {
      this.$store.dispatch('GET_USER')
    },
    computed: {
      notAuthenticated() {
        return !this.user.authenticated
      },
      me () {
        return this.user.me
      },
      profile_url () {
        return '/profiles/' + (this.user.me ? this.user.me.id : '') + '/'
      },
      headshot () {
        return this.user.headshot || 'https://s3.eu-central-1.amazonaws.com/whatwhere-events/__sized__/__placeholder__/placeholders/userplaceholder-crop-c0-5__0-5-123x123.png'
      }
    },
    methods: {
      user_logout () {
        this.$store.dispatch('LOGOUT')
      },
      user_register_modal () {
        this.$root.$emit('auth:modal:show', false, true);
      },
      open_login_modal () {
        this.$root.$emit('auth:modal:show', true, false);
      },
      set_lang (lang) {
        this.$store.dispatch('SET_LANG', {language: lang}).then(
          (response) => { console.log('lang response: ', response) }
        )
      }
    }
  }
</script>
