.b-persons {

    padding: 40px 0;

    &_aside {
        padding: 40px 0 20px;
        @include media-breakpoint-up(lg) {
            padding-left: 0;
        }
    }

    &__title {
        line-height: 2rem;
        a {
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    h4, .h4 {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 500;

        a, a:not([href]):not([tabindex]) {
            color: #8e8e93;
        }
    }

    &__item {
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }

        &_inline {
            display: flex;
            margin-bottom: 15px;
            align-items: center;
            justify-content: flex-start;
            text-align: left;

            .b-persons__img {
                width: 60px;
                min-width: 60px;
                max-width: 60px;
                height: 60px;
                margin: 0 20px 0 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .b-persons__name {
                margin-bottom: 0;
            }

            &:hover {
                .b-persons__img {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid #FD9727;
                        content: '';
                    }
                }

                .b-persons__name {
                    color: $primary;
                }
            }

            .b-persons__name {
                font-size: 1rem;
                width: calc(100% - 80px);
            }

        }

    }

    &__img {

        display: block;
        height: 140px;
        width: 140px;
        margin: 0 auto 1rem;

        img {
            border-radius: 50%;
            height: 140px;
            width: 140px;
        }

    }

    &__name {

        @extend .extra-large-text;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0 5px;
        color: $body-color;

    }

    .btn-round {

        border-radius: 100px;
        padding: 7px 20px;
        min-width: 140px;

        &_active {
            background-color: transparent;
            color: theme-color("secondary");
            cursor: default;
        }

    }

}
