.b-subscribe {
    padding: 35px 0 65px;

    &__title {
        margin-bottom: 30px;
        font-weight: normal;
    }

    &__date {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__section {

        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @include media-breakpoint-down(md) {
            display: block;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__avatar {

        width: 60px;
        max-width: 60px;
        min-width: 60px;
        margin-right: 20px;

        @include media-breakpoint-down(md) {
            margin: 0 0 20px 0;
        }

        img {
            max-width: 100%;
        }

    }

    .img-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: calc(100% + 20px);

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__text {
        padding-top: 5px;
        font-size: 1.125rem;
        width: calc(100% - 80px);
        padding-right: 80px;

        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-right: 0;
            text-align: center;
        }
    }

    .small {
        font-size: .875rem;
        color: #8e8e93;
        display: inline-block;
        padding-left: 10px;
    }

    &__name {

        margin-bottom: 15px;

        a {
            color: $body-color;

            &:hover {
                color: $primary;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__img {
        border-radius: 2px;
        display: block;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    &__wrapped-img {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
        height: 60px;
        margin-left: 20px;
        display: flex;
        overflow: hidden;
        border-radius: $border-radius;

        @include media-breakpoint-down(sm) {
            margin: 0 auto;
            justify-content: center;
        }
    }

}
