<template>
  <li class="b-filters__item" @click="selected">

    <div class="b-filters__link js-filter-item" :class="{ 'active' : active }">

      <svg class="icon icon-req__check">
        <use xlink:href="/static/images/sprite.svg#icon-req__check"></use>
      </svg>

      <span>{{ item.name }}</span>

    </div>
  </li>
</template>

<script>
  export default {
    props: ['item', 'id', 'active'],
    methods: {
      selected: function () {
        this.$emit('selected')
      }
    }
  }
</script>
