<template>
  <div class="b-filters">

    <div class="container">
      <h4 class="h4">{{title}}</h4>
      <ul class="list-unstyled">
        <filter-item v-on:selected="itemSelected(index, item)"  v-for="(item, index) in list" :key="index" :item="get_item(item)" :active="isActive(item)"></filter-item>
      </ul>
    </div>
  </div>
</template>

<script>
  import FilterItem from './Item.vue'

  export default {
    props: [
      'title', 'placeholder', 'list', 'selected'
    ],
    data () {
      return {
        query: null,
        filtered_items: []
      }
    },
    computed: {
      search_list: function () {
        let list = new Set(this.list)
        let SelectedResult = []

        for (let removable in this.selected) {
          list.delete(this.selected[removable])
        }

        if (!this.query || !this.query.length) {
          return list || []
        }

        list.forEach((item) => {
          if (item.toLowerCase().indexOf(this.query.toLowerCase()) >= 0) {
            SelectedResult.push(item)
          }
        })

        return SelectedResult
      }
    },
    methods: {
      isActive: function (element) {
        return this.selected.indexOf(element.id) >= 0
      },
      get_item: function (received) {
        for (let item in this.list) {
          if (this.list[item].id === received.id) {
            return this.list[item]
          }
        }
      },
      itemSelected: function (index, item) {
        if (this.isActive(item)) {
          console.log('spliced ', index)
          index = this.selected.indexOf(item.id)
          this.selected.splice(index, 1)
          this.$emit('updated', this.selected)
        } else {
          console.log('pushed ', index)
          this.selected.push(item.id)
          this.$emit('updated', this.selected)
        }
      }
    },
    components: {
      FilterItem
    }
  }
</script>
