.b-place {
    padding: 25px 0 60px;

    @include media-breakpoint-down(md) {
        padding-top: 85px;
    }

    .col-6 {
        .b-place__item {
            @include media-breakpoint-down(md) {
                min-height: calc(100% - 20px);
            }
        }
        @include media-breakpoint-down(md) {

            &.first-child {
                padding-right: 0;
            }


            &.last-child {
                padding-left: 0;
            }

        }
    }

    &__title {
        margin-bottom: 5px;
        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
        }
    }

    &__item {
        padding-top: 25px;
        padding-bottom: 5px;
        max-width: 220px;

        &_long {
            max-width: 100%;
            @include media-breakpoint-down(md) {
                border-bottom: none !important;
            }
        }

        @include media-breakpoint-down(md) {
            max-width: 100%;
            border-bottom: 1px solid #D8D8D8;
            padding-top: 0;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 4px;

            &.small {

                font-size: 14px;
                color: #8e8e93;
                line-height: 16px;

            }

        }

    }

    &__subtitle {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
    }

    &__metro {

        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
        padding-left: 20px;
        position: relative;
        color: #8e8e93;

        &:before {
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: 0;
            width: 12px;
            height: 12px;
            content: '';
            border-radius: 50%;
        }

        &.purple:before {
            background-color: #9b51e0;
        }

        &.orange:before {
            background-color: #F2994A;
        }

    }

    &__detail {

        width: 100%;
        padding: 24px 16px 0;
        background-color: #ffffff;
        color: #8E8E93;
        font-size: 14px;

        p {
            margin-bottom: 24px;
            line-height: 16px;
        }

        .btn-block {
            margin-left: -16px;
            margin-right: -16px;
            width: calc(100% + 32px);
        }

        h3 {
            color: #1e2a35;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }

    &__map {
        height: 150px;
        margin-top: 60px;
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
    }

    .styled-line {
        display: inline-block;
        position: relative;
        z-index: 2;
        &:before {
            position: absolute;
            z-index: -1;
            height: 8px;
            content: '';
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: rgba($secondary, .5);
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

}
