.b-category {
    padding: 30px 0 16px;
    border-bottom: 1px solid #E8E8E8;

    a {
        &:hover {
            text-decoration: none;
            span {
                text-decoration: underline;
            }
            .b-category__number {
                text-decoration: none;
            }
        }
    }

    li {
        margin-bottom: 1rem;
        @extend .large-text;

        .b-category__number {
            color: $body-color_light;
            font-size: .875rem;
            font-weight: lighter;
        }
    }

    ol{
        column-count: 3;
        column-gap: 20px;
        padding-left: 0;
        list-style-position: inside;

        @include media-breakpoint-down(sm) {
            column-count: 1;
        }

        li {
            font-weight: bold;
        }

        a {
            font-weight: normal;
        }

    }

    .columned {
        column-count: 4;
        column-gap: 20px;
        padding-left: 0;

        @extend .list-unstyled;

        @include media-breakpoint-down(lg) {
            column-count: 3;
        }

        @include media-breakpoint-down(md) {
            column-count: 2;
        }

        @include media-breakpoint-down(sm) {
            column-count: 1;
        }

        li {
            font-weight: bold;
        }

        a {
            font-weight: normal;
        }

    }
}
