.b-footer {
    &__top {
        padding: 40px 0;
        background-color: #eff0f0;

        li {
            margin-bottom: 1rem;
        }
    }

    .subtitle {
        font-size: .875rem;
        color: #8e8e93;
        display: block;
    }

    &__bottom {
        padding: 30px 0;
    }

    .big-link {

        @extend .extra-large-text;

        .icon {
            display: inline-block;
            margin-right: 15px;
            position: relative;
            top: 4px;
        }

        &_pink {
            color: #ad1457;
            .icon {
                fill: #ad1457;
            }
        }

        &_purple {
            color: #6A1B9A;
            .icon {
                fill: #6A1B9A;
            }
        }

    }

    a {
        color: $primary;
    }

    .lined {
        @include media-breakpoint-down(md) {
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            p:last-child {
                margin-bottom: 0;
            }
        }

    }

}
